/*
    파일명 : layout.css
    작성자 : 김남주
    작성일 : 2024.04.14
    설  명 : 모든페이지의 레이아웃 요소 (header / footer 서브레이아웃)
             메뉴명, sub_visual 이미지 스타일, 탭메뉴
*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
}
.header::before {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 263px);
    height: 100%;
    background: linear-gradient(#FFF, #f0f9ff);
    border-radius: 0 0 0 70px;
    content: "";
    z-index: -1;
}
@media screen and (min-width:1921px) {
    .header::before {
        width: 64%;
    }
}
@media screen and (min-width: 1501px) and (max-width: 1920px) {
    .header::before {
        width: 68%;
    }
}
@media screen and (min-width: 1281px) and (max-width: 1500px) {
    .header::before {
        width: 73%;
    }
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
}
.header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 260px;
    height: 100px;
    background: url(../images/logo.png.png) no-repeat center center / contain;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb .depth1{
    display: flex;
}
.header .gnb .depth1 > li {
    position: relative;
}
.header .gnb .depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 21px;
    font-weight: 500;
    color: #444;
    padding: 0 27px;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.header .gnb .depth1 > li > .depth2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
    padding: 20px 30px;
}
.header .gnb .depth1 > li > .depth2::before {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
    width: 100%;
    height: calc(100% - 19px);
    content: "";
    border-radius: 20px;
    background-color: #f0f9ff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.header .gnb .depth1 > li > .depth2 > li > a {
    display: block;
    font-size: 18px;
    padding: 0 1rem;
    white-space:nowrap;
    line-height: 40px;
    text-align: center;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.header .tnb {
    display: flex;
}
.header .tnb a {
    display: block;
    line-height: 100px;
    font-size: 15px;
    text-align: right;
    width: 76px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    z-index: 11;
}
.header .tnb a::after {
    position: absolute;
    top: 43px;
    width: 15px;
    height: 15px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.header .tnb .login::after {
    left: 5.5px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.15 10.3475C7.2727 10.3475 4.92725 8.02852 4.92725 5.17373C4.92725 2.31895 7.2727 0 10.15 0C13.0272 0 15.3727 2.31895 15.3727 5.17373C15.3727 8.02852 13.0318 10.3475 10.15 10.3475ZM10.15 1.35084C8.0227 1.35084 6.29088 3.06642 6.29088 5.17373C6.29088 7.28105 8.0227 8.99662 10.15 8.99662C12.2772 8.99662 14.0091 7.28105 14.0091 5.17373C14.0091 3.06642 12.2772 1.35084 10.15 1.35084Z' fill='%23666666'/%3E%3Cpath d='M19.3182 21.5999C18.9409 21.5999 18.6364 21.2982 18.6364 20.9245C18.6364 16.2056 14.7636 12.3692 10 12.3692C5.23636 12.3692 1.36364 16.2101 1.36364 20.9245C1.36364 21.2982 1.05909 21.5999 0.681818 21.5999C0.304545 21.5999 0 21.2982 0 20.9245C0 15.4626 4.48636 11.0183 10 11.0183C15.5136 11.0183 20 15.4626 20 20.9245C20 21.2982 19.6955 21.5999 19.3182 21.5999Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang::after {
    left: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.62393 20 7.32763 19.7368 6.11111 19.2105C4.89459 18.6841 3.83512 17.9697 2.93269 17.0673C2.03027 16.1649 1.31588 15.1054 0.789528 13.8889C0.263176 12.6724 0 11.3761 0 10C0 8.61965 0.263176 7.32229 0.789528 6.10792C1.31588 4.89353 2.03027 3.83512 2.93269 2.9327C3.83512 2.03027 4.89459 1.31588 6.11111 0.789527C7.32763 0.263175 8.62393 0 10 0C11.3804 0 12.6777 0.263175 13.8921 0.789527C15.1065 1.31588 16.1649 2.03027 17.0673 2.9327C17.9697 3.83512 18.6841 4.89353 19.2105 6.10792C19.7368 7.32229 20 8.61965 20 10C20 11.3761 19.7368 12.6724 19.2105 13.8889C18.6841 15.1054 17.9697 16.1649 17.0673 17.0673C16.1649 17.9697 15.1065 18.6841 13.8921 19.2105C12.6777 19.7368 11.3804 20 10 20ZM10 18.8974C10.6524 18.0598 11.1902 17.2372 11.6133 16.4295C12.0363 15.6218 12.3803 14.7179 12.6453 13.7179H7.35469C7.64814 14.7749 7.99928 15.7073 8.40811 16.515C8.81694 17.3227 9.34757 18.1168 10 18.8974ZM8.58547 18.7308C8.06695 18.1197 7.59366 17.3643 7.16558 16.4648C6.73753 15.5652 6.4188 14.6496 6.20939 13.7179H1.94872C2.58548 15.0997 3.48826 16.2329 4.65706 17.1175C5.82585 18.0021 7.13532 18.5399 8.58547 18.7308ZM11.4145 18.7308C12.8647 18.5399 14.1741 18.0021 15.3429 17.1175C16.5117 16.2329 17.4145 15.0997 18.0513 13.7179H13.7906C13.51 14.6638 13.1556 15.5865 12.7276 16.4861C12.2995 17.3857 11.8618 18.1339 11.4145 18.7308ZM1.49572 12.6068H5.97864C5.89458 12.151 5.83511 11.7069 5.80022 11.2746C5.76532 10.8422 5.74786 10.4174 5.74786 10C5.74786 9.58263 5.76532 9.15777 5.80022 8.72542C5.83511 8.29308 5.89458 7.849 5.97864 7.39317H1.49572C1.37465 7.77778 1.28028 8.19693 1.21261 8.65064C1.14494 9.10434 1.11111 9.55413 1.11111 10C1.11111 10.4459 1.14494 10.8957 1.21261 11.3494C1.28028 11.8031 1.37465 12.2222 1.49572 12.6068ZM7.08975 12.6068H12.9102C12.9943 12.151 13.0538 11.714 13.0887 11.2959C13.1236 10.8779 13.141 10.4459 13.141 10C13.141 9.55413 13.1236 9.12215 13.0887 8.70406C13.0538 8.28596 12.9943 7.849 12.9102 7.39317H7.08975C7.00569 7.849 6.94622 8.28596 6.91133 8.70406C6.87643 9.12215 6.85897 9.55413 6.85897 10C6.85897 10.4459 6.87643 10.8779 6.91133 11.2959C6.94622 11.714 7.00569 12.151 7.08975 12.6068ZM14.0214 12.6068H18.5043C18.6254 12.2222 18.7197 11.8031 18.7874 11.3494C18.8551 10.8957 18.8889 10.4459 18.8889 10C18.8889 9.55413 18.8551 9.10434 18.7874 8.65064C18.7197 8.19693 18.6254 7.77778 18.5043 7.39317H14.0214C14.1054 7.849 14.1649 8.29308 14.1998 8.72542C14.2347 9.15777 14.2521 9.58263 14.2521 10C14.2521 10.4174 14.2347 10.8422 14.1998 11.2746C14.1649 11.7069 14.1054 12.151 14.0214 12.6068ZM13.7906 6.28206H18.0513C17.4003 4.8718 16.5082 3.7386 15.375 2.88247C14.2418 2.02636 12.9217 1.48149 11.4145 1.24786C11.933 1.93019 12.3992 2.71046 12.813 3.58867C13.2269 4.46687 13.5527 5.36467 13.7906 6.28206ZM7.35469 6.28206H12.6453C12.3519 5.23931 11.99 4.2963 11.5598 3.453C11.1296 2.60968 10.6097 1.8262 10 1.10256C9.39031 1.8262 8.87037 2.60968 8.44017 3.453C8.00996 4.2963 7.64814 5.23931 7.35469 6.28206ZM1.94872 6.28206H6.20939C6.44728 5.36467 6.77314 4.46687 7.18697 3.58867C7.60079 2.71046 8.06695 1.93019 8.58547 1.24786C7.0641 1.48149 5.74038 2.02993 4.61431 2.89317C3.48825 3.75641 2.59972 4.88604 1.94872 6.28206Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.header .tnb a span {
    padding-right: 11px;
}
.header .tnb a span::before {
    position: absolute;
    right: 0;
    top: 49px;
    width: 9px;
    height: 5px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header .tnb .lang span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.25366 4.57692C4.16391 4.57692 4.08112 4.56223 4.00527 4.53285C3.92941 4.50346 3.85516 4.45245 3.78252 4.37981L0.125456 0.722749C0.04747 0.644763 0.00580335 0.549145 0.000456133 0.435895C-0.00489109 0.322645 0.0367756 0.22168 0.125456 0.132999C0.214137 0.0443327 0.312428 0 0.420331 0C0.528234 0 0.626525 0.0443327 0.715206 0.132999L4.25366 3.67146L7.79212 0.132999C7.87011 0.0550133 7.96573 0.0133466 8.07898 0.00799942C8.19223 0.00266609 8.29319 0.0443327 8.38187 0.132999C8.47055 0.22168 8.51489 0.319971 8.51489 0.427874C8.51489 0.535791 8.47055 0.634082 8.38187 0.722749L4.72481 4.37981C4.65217 4.45245 4.57792 4.50346 4.50206 4.53285C4.42621 4.56223 4.34341 4.57692 4.25366 4.57692Z' fill='%23444444'/%3E%3C/svg%3E%0A");
}
.header.fixed::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(#FFF, #F4F8FA);
    border-radius: 0;
}
@media screen and (min-width:1025px) {
    .header .gnb .gnb_wrap {
        margin-left: 60px;
    }
    .header .gnb .depth1 > li:hover > a {
        color: #33547d;
        font-weight: 700;
    }
    .header .gnb .depth1 > li.sub_over > .depth2 {
        display: block;
        z-index: 10;
    }
    .header .gnb .depth1 > li.sub_over > .depth2 > li:hover > a {
        color: #33547d;
        font-weight: 700;
    }
    .header .tnb a:hover {
        font-weight: 500;
    }
}
@media screen and (max-width:1280px) {
    .header .logo a {
        width: 200px;
    }
    .header .gnb .depth1 > li > a {
        font-size: 19px;
    }
    .header .gnb .depth1 > li > .depth2 > li > a {
        font-size: 16px;
    }
}
@media screen and (max-width:1024px) {
    .header {
        height: 75px;
    }
    .header::before {
        width: 90px;
        background: linear-gradient(#FFF, #F4F8FA);
        border-radius: 0 0 0 40px;
    }
    .header .logo a {
        width: 180px;
        height: 75px;
    }
    .header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute;
        right: 20px;
        top: 0;
        width: 30px;
        height: 100%;
        font-size: 0;
        line-height: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05883 21C0.758826 21 0.507354 20.866 0.304413 20.598C0.101471 20.33 0 19.9979 0 19.6018C0 19.2056 0.101471 18.8737 0.304413 18.6062C0.507354 18.3386 0.758826 18.2048 1.05883 18.2048H22.9412C23.2412 18.2048 23.4926 18.3388 23.6956 18.6068C23.8985 18.8748 24 19.2069 24 19.603C24 19.9992 23.8985 20.331 23.6956 20.5986C23.4926 20.8662 23.2412 21 22.9412 21H1.05883ZM1.05883 11.8976C0.758826 11.8976 0.507354 11.7636 0.304413 11.4956C0.101471 11.2276 0 10.8955 0 10.4994C0 10.1032 0.101471 9.77135 0.304413 9.50378C0.507354 9.23621 0.758826 9.10243 1.05883 9.10243H16.9412C17.2412 9.10243 17.4926 9.23642 17.6956 9.50438C17.8985 9.77239 18 10.1045 18 10.5006C18 10.8968 17.8985 11.2287 17.6956 11.4962C17.4926 11.7638 17.2412 11.8976 16.9412 11.8976H1.05883ZM1.05883 2.79518C0.758826 2.79518 0.507354 2.66118 0.304413 2.39318C0.101471 2.12521 0 1.79314 0 1.39696C0 1.00081 0.101471 0.668959 0.304413 0.401393C0.507354 0.133797 0.758826 0 1.05883 0H22.9412C23.2412 0 23.4926 0.133999 23.6956 0.401999C23.8985 0.669999 24 1.00207 24 1.39822C24 1.7944 23.8985 2.12627 23.6956 2.39383C23.4926 2.6614 23.2412 2.79518 22.9412 2.79518H1.05883Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_close {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 10.495L1.80323 17.6917C1.60683 17.8881 1.35994 17.9886 1.06258 17.9932C0.765235 17.9977 0.51381 17.8972 0.3083 17.6917C0.102766 17.4862 0 17.237 0 16.9442C0 16.6514 0.102766 16.4023 0.3083 16.1968L7.50503 9L0.3083 1.80323C0.111869 1.60683 0.0113841 1.35994 0.00684457 1.06258C0.00228136 0.765235 0.102766 0.51381 0.3083 0.3083C0.51381 0.102766 0.762965 0 1.05577 0C1.34857 0 1.59772 0.102766 1.80323 0.3083L9 7.50503L16.1968 0.3083C16.3932 0.111869 16.6401 0.0113841 16.9374 0.00684457C17.2348 0.00228136 17.4862 0.102766 17.6917 0.3083C17.8972 0.51381 18 0.762965 18 1.05577C18 1.34857 17.8972 1.59772 17.6917 1.80323L10.495 9L17.6917 16.1968C17.8881 16.3932 17.9886 16.6401 17.9932 16.9374C17.9977 17.2348 17.8972 17.4862 17.6917 17.6917C17.4862 17.8972 17.237 18 16.9442 18C16.6514 18 16.4023 17.8972 16.1968 17.6917L9 10.495Z' fill='%23666666'/%3E%3C/svg%3E%0A");    
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
    }
    .header .gnb .depth1{
        display: block;
        background-color: #FFF;
        text-align: left;
        padding-top: 75px;
        height: 100vh;
        overflow-y: auto;
    }
    .header.menu_open .gnb .depth1::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 75px;
        background-color: #F4F8FA;
        content: "";
    }
    .header .gnb .depth1 > li {
        border-bottom: 1px solid #ededed;
    }
    .header .gnb .depth1 > li > a {
        font-size: 20px;
        line-height: 70px;
        font-weight: 500;
        padding: 0 20px;
        position: relative;
    }
    .header .gnb .depth1 > li > a::after {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-373.539q-7.231 0-13.461-2.308-6.231-2.308-11.846-7.923L274.924-563.539q-8.308-8.307-8.5-20.884-.193-12.577 8.5-21.269 8.692-8.692 21.076-8.692t21.076 8.692L480-442.768l162.924-162.924q8.307-8.307 20.884-8.5 12.576-.192 21.268 8.5 8.693 8.692 8.693 21.077 0 12.384-8.693 21.076L505.307-383.77q-5.615 5.615-11.846 7.923-6.23 2.308-13.461 2.308Z'/%3E%3C/svg%3E");        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .header .gnb .depth1 > li.sub_open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-542.463 317.076-379.539q-8.307 8.308-20.884 8.5-12.576.192-21.268-8.5-8.693-8.692-8.693-21.076 0-12.385 8.693-21.077l179.769-179.769q5.615-5.615 11.846-7.923 6.23-2.307 13.461-2.307t13.461 2.307q6.231 2.308 11.846 7.923l179.769 179.769q8.308 8.308 8.5 20.884.193 12.577-8.5 21.269-8.692 8.692-21.076 8.692t-21.076-8.692L480-542.463Z'/%3E%3C/svg%3E");    
    }
    .header .gnb .depth1 > li > .depth2 {
        display: none;
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0, 0);
        padding: 20px 30px;
        background-color: #F4F8FA;
    }
    .header .gnb .depth1 > li > .depth2::before {
        display: none;
    }
    .header .gnb .depth1 > li > .depth2 > li > a {
        text-align: left;
    }
    .header .tnb {
        display: none;
    }
    .header.menu_open .tnb {
        display: block;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header.menu_open .tnb a {
        line-height: 75px;
        font-size: 15px;
        text-align: right;
        width: 76px;
        margin-left: 20px;
    }
    .header.menu_open .tnb a span::before {
        right: 0;
        top: 36px;
        width: 9px;
        height: 5px;
    }
    .header.menu_open .tnb a::after {
        left: 6px;
        top: 30px;
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width:768px) {
    .header {
        height: 50px;
    }
    .header::before {
        width: 80px;
    }
    .header.menu_open .gnb .depth1::before {
        height: 50px;
    }
    .header .logo a {
        width: 120px;
        height: 50px;
    }
    .header .gnb .gnb_open, 
    .header .gnb .gnb_close {
        width: 20px;
    }
    .header .gnb .depth1 {
        padding-top: 0;
    }
    .header .gnb .depth1 > li > a {
        font-size: 18px;
        padding: 0 20px;
        line-height: 60px;
    }
    .header .gnb .depth1 > li > .depth2 > li > a {
        font-size: 14px;
    }
    .header .gnb .depth1 {
        margin-top: 50px;
    }
    .header.menu_open .tnb a {
        line-height: 50px;
    }
    .header.menu_open .tnb a::after {
        top: 18px;
    }
    .header.menu_open .tnb a span::before {
        top: 24px;
    }
    .header .gnb .depth1 > li > a::after {
        top: 20px;
    }
}


.footer {
    height: 270px;
    margin-top: 5px;
    position: relative;
}
.footer .f_site {
    height: 70px;
    border-bottom: 1px solid #EDEDED;
}
.footer .f_site .wrapper {
    display: flex;
}
.footer .f_site .ctrl_btn {
    display: flex;
}
.footer .f_site .ctrl_btn button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 0;
    line-height: 0;
    margin-right: 5px;
    margin-top: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}
.footer .f_site .ctrl_btn button.prev {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.78734 5.00177L4.83727 1.95182C4.94095 1.84815 4.99399 1.71783 4.99639 1.56087C4.9988 1.40392 4.94576 1.27121 4.83727 1.16273C4.72879 1.05424 4.59728 1 4.44272 1C4.28817 1 4.15666 1.05424 4.04818 1.16273L0.682894 4.52802C0.612806 4.59809 0.563365 4.67201 0.534574 4.74978C0.50577 4.82753 0.491368 4.91152 0.491368 5.00177C0.491368 5.09201 0.50577 5.17601 0.534574 5.25376C0.563365 5.33152 0.612806 5.40544 0.682894 5.47552L4.04818 8.8408C4.15185 8.94449 4.28217 8.99753 4.43913 8.99992C4.59608 9.00233 4.72879 8.94929 4.83727 8.8408C4.94576 8.73232 5 8.60081 5 8.44626C5 8.2917 4.94576 8.16019 4.83727 8.05171L1.78734 5.00177Z' fill='%23555555' stroke='%23555555' stroke-width='0.025'/%3E%3C/svg%3E%0A");
    background-size: 9px auto;
}
.footer .f_site .ctrl_btn button.next {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21266 5.00177L1.16273 1.95182C1.05905 1.84815 1.00601 1.71783 1.00361 1.56087C1.0012 1.40392 1.05424 1.27121 1.16273 1.16273C1.27121 1.05424 1.40272 1 1.55728 1C1.71183 1 1.84334 1.05424 1.95182 1.16273L5.31711 4.52802C5.38719 4.59809 5.43663 4.67201 5.46543 4.74978C5.49423 4.82753 5.50863 4.91152 5.50863 5.00177C5.50863 5.09201 5.49423 5.17601 5.46543 5.25376C5.43663 5.33152 5.38719 5.40544 5.31711 5.47552L1.95182 8.8408C1.84815 8.94449 1.71783 8.99753 1.56087 8.99992C1.40392 9.00233 1.27121 8.94929 1.16273 8.8408C1.05424 8.73232 1 8.60081 1 8.44626C1 8.2917 1.05424 8.16019 1.16273 8.05171L4.21266 5.00177Z' fill='%23555555' stroke='%23555555' stroke-width='0.025'/%3E%3C/svg%3E%0A");
    background-size: 9px auto;
}
.footer .f_site .ctrl_btn button.play {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.96279 4.00001L1.1824 1.74617V6.25379L4.96279 4.00001ZM6.72551 4.21994L0.459571 7.95557C0.323737 8.03656 0.140204 8.00373 0.0496433 7.88229C0.017275 7.83883 0 7.78781 0 7.73563V0.264349C0 0.118349 0.132346 0 0.295601 0C0.353959 0 0.411016 0.0154486 0.459571 0.0443948L6.72551 3.78001C6.86131 3.86101 6.89803 4.02517 6.80746 4.14661C6.78582 4.17564 6.75797 4.20059 6.72551 4.21994Z' fill='%23555555'/%3E%3C/svg%3E%0A");    
    background-size: 11px auto;
}
.footer .f_site .ctrl_btn button.stop {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.57143C1 1.25584 1.25584 1 1.57143 1V1C1.88702 1 2.14286 1.25584 2.14286 1.57143V8.42857C2.14286 8.74416 1.88702 9 1.57143 9V9C1.25584 9 1 8.74416 1 8.42857V1.57143ZM6.71429 1.57143C6.71429 1.25584 6.97012 1 7.28571 1V1C7.60131 1 7.85714 1.25584 7.85714 1.57143V8.42857C7.85714 8.74416 7.60131 9 7.28571 9V9C6.97012 9 6.71429 8.74416 6.71429 8.42857V1.57143Z' fill='%23555555' stroke='%23555555' stroke-width='0.1'/%3E%3C/svg%3E%0A");    
    background-size: 11px auto;
    display: none;
}
.footer .f_site .swiper ul {
    width: 100%;
}
.footer .f_site .swiper ul li {
    float: left;
    width: auto;
}
.footer .f_site .swiper ul li a {
    display: block;
    margin: 0 10px;
    line-height: 70px;
    white-space: nowrap;
    text-align: center;
}
.footer .f_site .swiper ul li a:hover {
    font-weight: 700;
}
.footer .f_info {
    margin-top: 40px;
}
.footer .f_info > .wrapper {
    position: relative;
}
.footer .sns {
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer .sns ul {
    display: flex;
}
.footer .sns ul li {
    margin-right: 5px;
}
.footer .sns ul li:last-child {
    margin-right: 0;
}
.footer .sns ul li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #7bc3d9;
    border-radius: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.footer .sns ul li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16.014 29.9'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_114' data-name='사각형 114' width='16.014' height='29.9' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_108' data-name='그룹 108' transform='translate(0 0)'%3E%3Cg id='그룹_99' data-name='그룹 99' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_131' data-name='패스 131' d='M14.965,16.818l.83-5.411H10.6V7.9a2.705,2.705,0,0,1,3.05-2.923h2.361V.366A28.771,28.771,0,0,0,11.824,0c-4.276,0-7.07,2.591-7.07,7.283v4.125H0v5.411H4.753V29.9H10.6V16.818Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 12px auto;
}
.footer .sns ul li.instagram a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M13.0281 2.00073C14.1535 2.00259 14.7238 2.00855 15.2166 2.02322L15.4107 2.02956C15.6349 2.03753 15.8561 2.04753 16.1228 2.06003C17.1869 2.1092 17.9128 2.27753 18.5503 2.52503C19.2094 2.7792 19.7661 3.12253 20.3219 3.67837C20.8769 4.2342 21.2203 4.79253 21.4753 5.45003C21.7219 6.0867 21.8903 6.81337 21.9403 7.87753C21.9522 8.1442 21.9618 8.3654 21.9697 8.58964L21.976 8.78373C21.9906 9.27647 21.9973 9.84686 21.9994 10.9723L22.0002 11.7179C22.0003 11.809 22.0003 11.903 22.0003 12L22.0002 12.2821L21.9996 13.0278C21.9977 14.1532 21.9918 14.7236 21.9771 15.2163L21.9707 15.4104C21.9628 15.6347 21.9528 15.8559 21.9403 16.1225C21.8911 17.1867 21.7219 17.9125 21.4753 18.55C21.2211 19.2092 20.8769 19.7659 20.3219 20.3217C19.7661 20.8767 19.2069 21.22 18.5503 21.475C17.9128 21.7217 17.1869 21.89 16.1228 21.94C15.8561 21.9519 15.6349 21.9616 15.4107 21.9694L15.2166 21.9757C14.7238 21.9904 14.1535 21.997 13.0281 21.9992L12.2824 22C12.1913 22 12.0973 22 12.0003 22L11.7182 22L10.9725 21.9993C9.8471 21.9975 9.27672 21.9915 8.78397 21.9768L8.58989 21.9705C8.36564 21.9625 8.14444 21.9525 7.87778 21.94C6.81361 21.8909 6.08861 21.7217 5.45028 21.475C4.79194 21.2209 4.23444 20.8767 3.67861 20.3217C3.12278 19.7659 2.78028 19.2067 2.52528 18.55C2.27778 17.9125 2.11028 17.1867 2.06028 16.1225C2.0484 15.8559 2.03871 15.6347 2.03086 15.4104L2.02457 15.2163C2.00994 14.7236 2.00327 14.1532 2.00111 13.0278L2.00098 10.9723C2.00284 9.84686 2.00879 9.27647 2.02346 8.78373L2.02981 8.58964C2.03778 8.3654 2.04778 8.1442 2.06028 7.87753C2.10944 6.81253 2.27778 6.08753 2.52528 5.45003C2.77944 4.7917 3.12278 4.2342 3.67861 3.67837C4.23444 3.12253 4.79278 2.78003 5.45028 2.52503C6.08778 2.27753 6.81278 2.11003 7.87778 2.06003C8.14444 2.04816 8.36564 2.03847 8.58989 2.03062L8.78397 2.02433C9.27672 2.00969 9.8471 2.00302 10.9725 2.00086L13.0281 2.00073ZM12.0003 7.00003C9.23738 7.00003 7.00028 9.23956 7.00028 12C7.00028 14.7629 9.23981 17 12.0003 17C14.7632 17 17.0003 14.7605 17.0003 12C17.0003 9.23713 14.7607 7.00003 12.0003 7.00003ZM12.0003 9.00003C13.6572 9.00003 15.0003 10.3427 15.0003 12C15.0003 13.6569 13.6576 15 12.0003 15C10.3434 15 9.00028 13.6574 9.00028 12C9.00028 10.3431 10.3429 9.00003 12.0003 9.00003ZM17.2503 5.50003C16.561 5.50003 16.0003 6.05994 16.0003 6.74918C16.0003 7.43843 16.5602 7.9992 17.2503 7.9992C17.9395 7.9992 18.5003 7.4393 18.5003 6.74918C18.5003 6.05994 17.9386 5.49917 17.2503 5.50003Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 25px auto;
}
.footer .sns ul li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.839 21'%3E%3Cpath id='패스_182' data-name='패스 182' d='M15.175,0V11L7.664,0H0V21H7.664V10.429L15.175,21h7.664V0Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 20px;
}
.footer .f_info .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}
.footer .f_info .f_nav ul li {
    margin-right: 40px;
    position: relative;
}
.footer .f_info .f_nav ul li a {
    display: block;
    font-size: 18px;
}
.footer .f_info .f_nav ul li a:hover {
    text-decoration: underline;
}
.footer .f_info .f_nav ul li.bold {
    font-weight: 700;
    color: #5581bb;
}
.footer .f_info .f_nav ul li a::before {
    position: absolute;
    left: -20px;
    top: 5px;
    width: 1px;
    height: 13px;
    background-color: #777;
    content: "";
}
.footer .f_info .f_nav ul li:first-child a::before {
    display: none;
}
.footer .f_info .f_btm {
    margin: 20px 0;
    line-height: 30px;
} 
.footer .copyright {
    font-size: 15px;
    background: linear-gradient(#d3ebef, #e5f7ff);
    padding: 10px 0;
}
.footer .top {
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 0;
    top: -18px;
    width: 50px;
    height: 50px;
    border: 1px solid #CFCFCF;
    background-color: #FFF;
    border-radius: 100%;
    line-height: 50px;
    color: #444;
    font-weight: 500;
    content: "";
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.footer .top:hover {
    background-color: #3890d8;
    color: #FFF;
}
@media screen and (max-width:1024px) {
    .footer .f_info .f_nav ul li a {
        font-size: 15px;
    }
    .footer .f_info .f_nav ul li {
        margin-right: 15px;
    }
    .footer .f_info .f_nav ul li a::before {
        left: -8px;
        top: 6px;
        width: 1px;
        height: 10px;
        background-color: #c1c1c1;
    }
    .footer .sns ul li a {
        width: 35px;
        height: 35px;
    }
    .footer .sns ul li.facebook a {
        background-size: 9px auto;
    }
    .footer .sns ul li.instagram a {
        background-size: 17px auto;
    }
    .footer .sns ul li.naver a {
        background-size: 14px;
    }
}
@media screen and (max-width:768px) {
    .footer .f_info {
        text-align: center;
        margin-top: 30px;
    }
    .footer .f_info .f_nav ul {
        justify-content: center;
    }
    .footer .f_info .f_nav ul li a {
        font-size: 15px;
    }
    .footer .f_info .f_nav ul li {
        margin-right: 20px;
    }
    .footer .f_info .f_nav ul li a::before {
        display: none;
    }
    .footer .f_info .f_btm {
        margin: 15px 0 60px;
    }
    .footer .copyright {
        font-size: 13px;
    }
    .footer .sns {
        position: absolute;
        right: inherit;
        left: 50%;
        bottom: -48px;
        transform: translate(-50%, 0);
    }
    .footer .top {
        right: 0;
        top: inherit;
        bottom: -50px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}