
@import url(default.css);
@import url(common.css);
@import url(layout.css);

.contents::after {
    position: absolute;
    left: 0;
    top: 1126px;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    content: "";
}
.cts_greeting {
    margin: 134px 0 50px 0;
    position: relative;
}
.cts_greeting .txt {
    height: 500px;
}
.cts_greeting .txt h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}
.cts_greeting .txt h3 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin: 0 0 60px 0;
}
.cts_greeting .txt h3 span {
    font-weight: 700;
}
.cts_greeting p {
    margin: 0 600px 0 0;
}
.cts_greeting p strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_greeting p strong span {
    color: #f96623;
}
.cts_greeting .ceo {
    position: absolute;
    left: calc(50% + 95px);
    top: -10px;
}
.cts_greeting .ceo .photo {
    position: relative;
    font-size: 0;
    line-height: 0;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}
.cts_greeting .ceo .photo img {
    position: relative;
    width: 300px
}
.cts_greeting .ceo .sign {
    display: flex;
    align-items: flex-start;
    margin: 20px 0 0 0;
    justify-content: center;
}
.cts_greeting .ceo .sign strong {
    display: block;
    margin: 10px 30px 0 0;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
@media screen and (max-width:1400px){
    .cts_greeting p {
        margin: 0 400px 0 0;
    }
    .cts_greeting .ceo {
        left: calc(50% + 183px);
        top: 21px;
    }
    .contents::after {
        top: 1139px;
    }
    .cts_greeting {
        margin: 134px 0 78px 0;
        position: relative;
    }
    .cts_greeting .txt {
        height: 456px;
    }
}
@media screen and (max-width:1000px){
    .cts_greeting .txt h2 {
        font-size: 17px;
    }
    .cts_greeting .txt h3 {
        font-size: 17px;
        margin: 0 0 49px 0;
    }
    .cts_greeting p {
        margin: 0 379px 0 0;
    }
    .cts_greeting .ceo .photo img {
        width: 238px;
    }
    .cts_greeting .ceo {
        left: calc(50% + 78px);
        top: 93px;
    }
    .cts_greeting {
        margin: 80px 0 78px 0;
    }
    .contents::after {
        top: 1106px;
    }
    .cts_greeting .txt {
        height: 541px;
    }
    .cts_greeting p strong {
        font-size: 17px;
    }
}
@media screen and (max-width:768px) {
    .cts_greeting p {
        margin: 0;
    }
    .cts_greeting .ceo {
        left: 50%;
        transform: translate(-50%, 0);
        top: 88px;
    }
    .cts_greeting .txt {
        height: 742px;
    }
    .contents::after {
        top: 1318px;
    }
    .cts_greeting .txt p {
        margin-top: 367px;
    }
    .cts_greeting .ceo .sign strong {
        margin: 10px 30px 0 0;
        font-size: 17px;
    }
    .cts_greeting .ceo .sign strong {
        margin: 18px 25px 0 0;
        font-size: 17px;
    }
    .cts_greeting .txt h2 {
        font-size: 17px;
        text-align: center;
    }
    .cts_greeting .txt h3 {
        font-size: 15px;
        margin: 0 0 49px 0;
        text-align: center;
    }
    
}
