@import url(default.css);
@import url(common.css);
@import url(layout.css);

/*
    파일명 : main.css
    작성자 : 김남주
    작성일 : 2024.04.24
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
.visual {
    position: relative;
}
.visual .scroll h2 {
    position: absolute;
    left: 2vw;
    top: 40%;
    line-height: 0;
    font-size: 0;
    width: 38px;
    height: 279px;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='279' viewBox='0 0 38 279' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.525 2.6C13.125 3.025 12.75 3.525 12.45 4.075C12.125 4.625 11.875 5.2 11.625 5.825C11.4 6.425 11.225 7.025 11.1 7.675C11 8.275 10.925 8.875 10.925 9.45C10.95 10.75 11.225 11.825 11.75 12.65C12.3 13.45 13.15 13.85 14.3 13.85C14.775 13.85 15.2 13.75 15.6 13.55C15.95 13.325 16.3 13.025 16.6 12.65C16.875 12.25 17.125 11.75 17.375 11.2C17.575 10.625 17.8 9.975 18 9.275C18.35 8 18.725 6.9 19.125 6C19.5 5.05 19.925 4.3 20.425 3.7C20.9 3.075 21.45 2.625 22.05 2.35C22.65 2.05 23.35 1.9 24.15 1.9C25 1.9 25.75 2.075 26.4 2.45C27.05 2.8 27.575 3.275 28.025 3.925C28.425 4.525 28.75 5.275 28.975 6.125C29.175 6.95 29.3 7.85 29.3 8.8C29.3 9.975 29.1 11.15 28.7 12.325C28.275 13.475 27.675 14.575 26.9 15.6L25.1 14.6C25.375 14.225 25.65 13.825 25.9 13.375C26.15 12.925 26.375 12.45 26.575 11.975C26.775 11.475 26.925 10.975 27.05 10.475C27.15 9.95 27.225 9.45 27.25 8.975C27.25 8.4 27.225 7.85 27.125 7.325C27.025 6.775 26.85 6.275 26.625 5.85C26.375 5.4 26.05 5.05 25.675 4.8C25.275 4.525 24.775 4.4 24.225 4.4C23.675 4.4 23.225 4.475 22.875 4.65C22.475 4.8 22.15 5.075 21.875 5.475C21.575 5.825 21.3 6.325 21.075 6.925C20.825 7.525 20.575 8.25 20.325 9.15C19.975 10.25 19.65 11.25 19.3 12.15C18.925 13.025 18.525 13.775 18.075 14.425C17.6 15.025 17.075 15.5 16.5 15.85C15.9 16.175 15.225 16.35 14.475 16.35C13.475 16.35 12.6 16.175 11.9 15.825C11.2 15.45 10.625 14.95 10.175 14.325C9.725 13.675 9.4 12.925 9.175 12.05C8.975 11.15 8.875 10.2 8.875 9.15C8.875 7.8 9.1 6.475 9.55 5.15C10.025 3.8 10.675 2.575 11.525 1.525L13.525 2.6ZM19.1 19.1025C20.575 19.1025 21.95 19.3525 23.2 19.8775C24.45 20.3775 25.525 21.0525 26.45 21.9525C27.35 22.8275 28.05 23.8775 28.575 25.1025C29.075 26.3025 29.325 27.6275 29.325 29.0275C29.325 30.7275 28.925 32.3275 28.125 33.8025C27.3 35.2525 26.175 36.4525 24.725 37.4275L23.425 35.6275C24.55 34.9275 25.475 34.0025 26.225 32.8775C26.925 31.7275 27.3 30.4025 27.3 28.9525C27.3 27.9025 27.075 26.9275 26.65 26.0275C26.2 25.1275 25.625 24.3525 24.9 23.7025C24.15 23.0525 23.275 22.5275 22.3 22.1775C21.3 21.7775 20.225 21.6025 19.1 21.6025C17.95 21.6025 16.875 21.8025 15.875 22.2025C14.875 22.5775 14 23.1275 13.275 23.8275C12.525 24.5275 11.975 25.3525 11.55 26.3525C11.15 27.3025 10.925 28.3775 10.925 29.5525C10.925 30.9025 11.3 32.1025 12 33.1525C12.7 34.1775 13.65 35.0525 14.85 35.7775L13.475 37.5275C12.05 36.5775 10.95 35.4025 10.1 33.9525C9.3 32.5025 8.875 30.8525 8.875 29.0275C8.875 27.7025 9.125 26.4525 9.575 25.2525C10.075 24.0525 10.75 23.0025 11.625 22.1025C12.525 21.1775 13.6 20.4525 14.875 19.9275C16.125 19.3775 17.525 19.1025 19.1 19.1025ZM28.8 39.793L28.8 49.493C28.8 50.243 28.675 50.993 28.475 51.718C28.25 52.418 27.925 53.068 27.5 53.618C27.05 54.168 26.525 54.593 25.875 54.943C25.2 55.268 24.425 55.443 23.525 55.443C22.775 55.443 22.15 55.343 21.625 55.143C21.075 54.943 20.625 54.668 20.25 54.318C19.85 53.943 19.55 53.518 19.3 53.018C19.025 52.493 18.8 51.943 18.625 51.343L9.375 56.293L9.375 53.668L18.025 48.968L16.425 42.293L9.375 42.293L9.375 39.793L28.8 39.793ZM23.525 52.968C24.025 52.968 24.5 52.868 24.9 52.668C25.3 52.468 25.625 52.193 25.925 51.843C26.175 51.493 26.4 51.068 26.55 50.618C26.675 50.118 26.75 49.593 26.75 49.043L26.75 42.293L18.7 42.293L20.05 48.718C20.35 50.168 20.775 51.243 21.325 51.943C21.825 52.618 22.575 52.968 23.525 52.968ZM19.125 58.2871C20.675 58.2871 22.1 58.5371 23.375 59.0871C24.625 59.5871 25.7 60.3121 26.6 61.2121C27.45 62.1121 28.125 63.1371 28.625 64.3371C29.075 65.5121 29.325 66.7621 29.325 68.1121C29.325 69.4621 29.075 70.7371 28.625 71.9371C28.125 73.1121 27.45 74.1621 26.6 75.0621C25.7 75.9371 24.625 76.6371 23.375 77.1871C22.1 77.6871 20.675 77.9621 19.125 77.9621C17.525 77.9621 16.1 77.6871 14.85 77.1871C13.575 76.6371 12.5 75.9371 11.625 75.0621C10.75 74.1621 10.075 73.1121 9.575 71.9371C9.125 70.7371 8.875 69.4621 8.875 68.1121C8.875 66.7621 9.125 65.5121 9.575 64.3371C10.075 63.1371 10.75 62.1121 11.625 61.2121C12.5 60.3121 13.575 59.5871 14.85 59.0871C16.1 58.5371 17.525 58.2871 19.125 58.2871ZM19.125 60.7871C17.775 60.7871 16.6 60.9871 15.6 61.4121C14.575 61.8121 13.725 62.3371 13.025 63.0371C12.325 63.7121 11.8 64.4871 11.425 65.3871C11.075 66.2371 10.9 67.1621 10.9 68.1121C10.9 69.0621 11.075 69.9621 11.425 70.8621C11.8 71.7371 12.325 72.5371 13.025 73.2371C13.725 73.9121 14.575 74.4621 15.6 74.8871C16.6 75.2871 17.775 75.4871 19.125 75.4871C20.425 75.4871 21.575 75.2621 22.6 74.8371C23.6 74.3871 24.475 73.8371 25.175 73.1371C25.85 72.4371 26.375 71.6371 26.75 70.7621C27.1 69.8621 27.275 68.9871 27.275 68.1121C27.275 67.2121 27.1 66.3371 26.75 65.4871C26.375 64.5871 25.85 63.8121 25.175 63.1371C24.475 62.4371 23.6 61.8621 22.6 61.4371C21.575 60.9871 20.425 60.7871 19.125 60.7871ZM28.8 80.4668L28.8 82.9668L11.425 82.9668L11.425 93.9918L9.375 93.9918L9.375 80.4668L28.8 80.4668ZM28.8 96.4824L28.8 98.9824L11.425 98.9824L11.425 110.007L9.375 110.007L9.375 96.4824L28.8 96.4824ZM28.8 118.504L28.8 126.429C28.8 127.879 28.55 129.179 28.075 130.279C27.575 131.354 26.9 132.254 26.05 133.004C25.175 133.704 24.15 134.254 22.975 134.604C21.775 134.954 20.5 135.129 19.125 135.129C17.675 135.129 16.375 134.904 15.2 134.454C14 134.004 12.975 133.354 12.125 132.529C11.275 131.679 10.6 130.654 10.1 129.454C9.62499 128.229 9.37499 126.854 9.37499 125.354L9.37499 118.504L28.8 118.504ZM11.425 121.004L11.425 125.304C11.425 126.454 11.65 127.479 12.05 128.379C12.45 129.279 13 130.029 13.725 130.679C14.425 131.304 15.25 131.779 16.2 132.129C17.125 132.454 18.125 132.629 19.2 132.629C20.25 132.629 21.225 132.479 22.175 132.229C23.075 131.954 23.875 131.554 24.575 131.004C25.225 130.454 25.775 129.754 26.175 128.929C26.55 128.079 26.75 127.054 26.75 125.904L26.75 121.004L11.425 121.004ZM19.125 137.12C20.675 137.12 22.1 137.37 23.375 137.92C24.625 138.42 25.7 139.145 26.6 140.045C27.45 140.945 28.125 141.97 28.625 143.17C29.075 144.345 29.325 145.595 29.325 146.945C29.325 148.295 29.075 149.57 28.625 150.77C28.125 151.945 27.45 152.995 26.6 153.895C25.7 154.77 24.625 155.47 23.375 156.02C22.1 156.52 20.675 156.795 19.125 156.795C17.525 156.795 16.1 156.52 14.85 156.02C13.575 155.47 12.5 154.77 11.625 153.895C10.75 152.995 10.075 151.945 9.57499 150.77C9.12499 149.57 8.87499 148.295 8.87499 146.945C8.87499 145.595 9.12499 144.345 9.57499 143.17C10.075 141.97 10.75 140.945 11.625 140.045C12.5 139.145 13.575 138.42 14.85 137.92C16.1 137.37 17.525 137.12 19.125 137.12ZM19.125 139.62C17.775 139.62 16.6 139.82 15.6 140.245C14.575 140.645 13.725 141.17 13.025 141.87C12.325 142.545 11.8 143.32 11.425 144.22C11.075 145.07 10.9 145.995 10.9 146.945C10.9 147.895 11.075 148.795 11.425 149.695C11.8 150.57 12.325 151.37 13.025 152.07C13.725 152.745 14.575 153.295 15.6 153.72C16.6 154.12 17.775 154.32 19.125 154.32C20.425 154.32 21.575 154.095 22.6 153.67C23.6 153.22 24.475 152.67 25.175 151.97C25.85 151.27 26.375 150.47 26.75 149.595C27.1 148.695 27.275 147.82 27.275 146.945C27.275 146.045 27.1 145.17 26.75 144.32C26.375 143.42 25.85 142.645 25.175 141.97C24.475 141.27 23.6 140.695 22.6 140.27C21.575 139.82 20.425 139.62 19.125 139.62ZM24.9 170L9.37499 166.1L9.37499 163.65L28.8 158.275L28.8 160.7L13.3 164.875L28.8 168.75L28.8 171.275L13.3 175.125L28.8 179.325L28.8 181.75L9.37499 176.375L9.37499 173.925L24.9 170ZM28.8 184.104L28.8 186.604L13.05 197.779L28.8 197.779L28.8 200.279L9.37499 200.279L9.37499 197.779L25.25 186.604L9.37499 186.604L9.37499 184.104L28.8 184.104Z' fill='%23666666'/%3E%3Crect y='223' width='38' height='56' rx='19' fill='url(%23paint0_linear_75_38)'/%3E%3Cpath d='M18.9998 255.871L23.5498 251.35C23.7637 251.136 24.0311 251.024 24.3519 251.015C24.6727 251.005 24.9498 251.117 25.1831 251.35C25.397 251.564 25.504 251.836 25.504 252.167C25.504 252.497 25.397 252.77 25.1831 252.983L20.6623 257.504C20.2151 257.952 19.6609 258.175 18.9998 258.175C18.3387 258.175 17.7845 257.952 17.3373 257.504L12.8165 252.983C12.6026 252.77 12.4908 252.502 12.4811 252.181C12.4713 251.861 12.5831 251.583 12.8165 251.35C13.0304 251.136 13.3026 251.029 13.6331 251.029C13.9637 251.029 14.2359 251.136 14.4498 251.35L18.9998 255.871ZM18.9998 248.871L23.5498 244.35C23.7637 244.136 24.0311 244.024 24.3519 244.015C24.6727 244.005 24.9498 244.117 25.1831 244.35C25.397 244.564 25.504 244.836 25.504 245.167C25.504 245.497 25.397 245.77 25.1831 245.983L20.6623 250.504C20.2151 250.952 19.6609 251.175 18.9998 251.175C18.3387 251.175 17.7845 250.952 17.3373 250.504L12.8165 245.983C12.6026 245.77 12.4908 245.502 12.4811 245.181C12.4713 244.861 12.5831 244.583 12.8165 244.35C13.0304 244.136 13.3026 244.029 13.6331 244.029C13.9637 244.029 14.2359 244.136 14.4498 244.35L18.9998 248.871Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_75_38' x1='19' y1='223' x2='19' y2='279' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F58220'/%3E%3Cstop offset='1' stop-color='%23ED1C24'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.visual .scroll h2 {
    animation-name:animate_scroll;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear; 
}
@keyframes animate_scroll{
    0% {transform:translate(0, 0);}
    50% {transform:translate(0, 50px);}
    100% {transform:translate(0, 0);}
}
.visual .swiper {
    position: relative;
    left: calc(50% - 640px);
    margin: 0;
}
.visual .swiper-slide {
    height: 70vh;
}
.visual .swiper-slide img {
    display:block; 
    border-radius: 36px 0 0 36px;
    object-fit:cover; 
    width: 100%;
}
.visual	.visual_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    content: "";
    border-radius: 0 36px 0 0;
    padding: 10px 20px;
    z-index: 10;
    display: flex;
}
.visual	.visual_btn::before,
.visual	.visual_btn::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath d='M2 0H0v38h38v-2C18.1 36 2 19.9 2 0z' fill='%23fff'/%3E%3C/svg%3E")
}
.visual	.visual_btn::before {
    left: -2px;
    top: -36px;
}
.visual	.visual_btn::after {
    right: -35px;
    bottom: -2px;
}
.visual	.visual_btn .ctrl_btn {
    display: flex;
    align-items: center;
}
.visual	.visual_btn .ctrl_btn .auto {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 21px 29px;
}
.visual	.visual_btn .ctrl_btn .auto::before {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    content: "";
}
.visual	.visual_btn .ctrl_btn .auto .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.84375 16.2958V1.83434C0.84375 1.40465 0.990818 1.05213 1.28495 0.776786C1.57906 0.501441 1.92219 0.36377 2.31432 0.36377C2.43947 0.36377 2.56879 0.381506 2.70228 0.416975C2.83578 0.452443 2.96511 0.505632 3.09029 0.576543L14.473 7.82293C14.6962 7.97519 14.8635 8.1577 14.9752 8.37046C15.0867 8.58322 15.1425 8.81475 15.1425 9.06507C15.1425 9.31538 15.0867 9.54692 14.9752 9.75968C14.8635 9.97244 14.6962 10.1549 14.473 10.3072L3.09029 17.5536C2.96511 17.6245 2.83578 17.6777 2.70228 17.7132C2.56879 17.7486 2.43947 17.7664 2.31432 17.7664C1.92219 17.7664 1.57906 17.6287 1.28495 17.3533C0.990818 17.078 0.84375 16.7255 0.84375 16.2958Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.visual	.visual_btn .ctrl_btn .auto .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='20' viewBox='0 0 15 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.99995 20C0.895407 20 0 19.1046 0 18.0001V1.99995C0 0.895407 0.895407 0 1.99995 0C3.10449 0 3.9999 0.895407 3.9999 1.99995V18.0001C3.9999 19.1046 3.10449 20 1.99995 20ZM12.6667 20C11.5621 20 10.6667 19.1046 10.6667 18V1.99995C10.6667 0.895408 11.5621 0 12.6667 0C13.7712 0 14.6666 0.895408 14.6666 1.99995V18C14.6666 19.1046 13.7712 20 12.6667 20Z' fill='black'/%3E%3C/svg%3E%0A");
} 
.visual	.visual_btn .ctrl_btn button {
    width: 15px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual	.visual_btn .ctrl_btn .prev {
    padding: 0 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' viewBox='0 0 15 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.32511 12.5L14.0695 21.2444C14.4806 21.6555 14.6861 22.1786 14.6861 22.8139C14.6861 23.4492 14.4806 23.9723 14.0695 24.3834C13.6584 24.7945 13.1353 25 12.5 25C11.8647 25 11.3416 24.7945 10.9305 24.3834L0.616592 14.0695C0.392377 13.8453 0.233558 13.6024 0.140135 13.3408C0.0467115 13.0792 0 12.799 0 12.5C0 12.201 0.0467115 11.9208 0.140135 11.6592C0.233558 11.3976 0.392377 11.1547 0.616592 10.9305L10.9305 0.616592C11.3416 0.205531 11.8647 0 12.5 0C13.1353 0 13.6584 0.205531 14.0695 0.616592C14.4806 1.02765 14.6861 1.55082 14.6861 2.1861C14.6861 2.82138 14.4806 3.34454 14.0695 3.75561L5.32511 12.5Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.visual	.visual_btn .ctrl_btn .next {
    padding: 0 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='25' viewBox='0 0 16 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0479 12.5L1.30354 3.7556C0.892481 3.34454 0.686951 2.82138 0.686951 2.1861C0.686951 1.55082 0.892481 1.02765 1.30354 0.616591C1.7146 0.205531 2.23777 -1.14832e-06 2.87305 -1.09278e-06C3.50833 -1.03725e-06 4.03149 0.205531 4.44256 0.616591L14.7565 10.9305C14.9807 11.1547 15.1395 11.3976 15.2329 11.6592C15.3263 11.9208 15.373 12.201 15.373 12.5C15.373 12.799 15.3263 13.0792 15.2329 13.3408C15.1395 13.6024 14.9807 13.8453 14.7565 14.0695L4.44255 24.3834C4.03149 24.7945 3.50832 25 2.87305 25C2.23777 25 1.7146 24.7945 1.30354 24.3834C0.892479 23.9723 0.686949 23.4492 0.686949 22.8139C0.686949 22.1786 0.892479 21.6555 1.30354 21.2444L10.0479 12.5Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.visual	.visual_btn .ctrl_btn .paging span {
    font-size: 20px;
}

    @media screen and (max-width:1500px) {
    .visual .swiper {
        left: 100px;
    }
}
