@import url(default.css);
@import url(common.css);
@import url(layout.css);

/*
    파일명 : main.css
    작성자 : 김남주
    작성일 : 2024.04.24
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
.visual {
    position: relative;
    margin: 2vh 0;
}
.visual .scroll h2 {
    position: absolute;
    left: 3vw;
    top: 20vh;
    line-height: 0;
    font-size: 0;
    width: 38px;
    height: 279px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='279' viewBox='0 0 38 279' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.525 2.6C13.125 3.025 12.75 3.525 12.45 4.075C12.125 4.625 11.875 5.2 11.625 5.825C11.4 6.425 11.225 7.025 11.1 7.675C11 8.275 10.925 8.875 10.925 9.45C10.95 10.75 11.225 11.825 11.75 12.65C12.3 13.45 13.15 13.85 14.3 13.85C14.775 13.85 15.2 13.75 15.6 13.55C15.95 13.325 16.3 13.025 16.6 12.65C16.875 12.25 17.125 11.75 17.375 11.2C17.575 10.625 17.8 9.975 18 9.275C18.35 8 18.725 6.9 19.125 6C19.5 5.05 19.925 4.3 20.425 3.7C20.9 3.075 21.45 2.625 22.05 2.35C22.65 2.05 23.35 1.9 24.15 1.9C25 1.9 25.75 2.075 26.4 2.45C27.05 2.8 27.575 3.275 28.025 3.925C28.425 4.525 28.75 5.275 28.975 6.125C29.175 6.95 29.3 7.85 29.3 8.8C29.3 9.975 29.1 11.15 28.7 12.325C28.275 13.475 27.675 14.575 26.9 15.6L25.1 14.6C25.375 14.225 25.65 13.825 25.9 13.375C26.15 12.925 26.375 12.45 26.575 11.975C26.775 11.475 26.925 10.975 27.05 10.475C27.15 9.95 27.225 9.45 27.25 8.975C27.25 8.4 27.225 7.85 27.125 7.325C27.025 6.775 26.85 6.275 26.625 5.85C26.375 5.4 26.05 5.05 25.675 4.8C25.275 4.525 24.775 4.4 24.225 4.4C23.675 4.4 23.225 4.475 22.875 4.65C22.475 4.8 22.15 5.075 21.875 5.475C21.575 5.825 21.3 6.325 21.075 6.925C20.825 7.525 20.575 8.25 20.325 9.15C19.975 10.25 19.65 11.25 19.3 12.15C18.925 13.025 18.525 13.775 18.075 14.425C17.6 15.025 17.075 15.5 16.5 15.85C15.9 16.175 15.225 16.35 14.475 16.35C13.475 16.35 12.6 16.175 11.9 15.825C11.2 15.45 10.625 14.95 10.175 14.325C9.725 13.675 9.4 12.925 9.175 12.05C8.975 11.15 8.875 10.2 8.875 9.15C8.875 7.8 9.1 6.475 9.55 5.15C10.025 3.8 10.675 2.575 11.525 1.525L13.525 2.6ZM19.1 19.1025C20.575 19.1025 21.95 19.3525 23.2 19.8775C24.45 20.3775 25.525 21.0525 26.45 21.9525C27.35 22.8275 28.05 23.8775 28.575 25.1025C29.075 26.3025 29.325 27.6275 29.325 29.0275C29.325 30.7275 28.925 32.3275 28.125 33.8025C27.3 35.2525 26.175 36.4525 24.725 37.4275L23.425 35.6275C24.55 34.9275 25.475 34.0025 26.225 32.8775C26.925 31.7275 27.3 30.4025 27.3 28.9525C27.3 27.9025 27.075 26.9275 26.65 26.0275C26.2 25.1275 25.625 24.3525 24.9 23.7025C24.15 23.0525 23.275 22.5275 22.3 22.1775C21.3 21.7775 20.225 21.6025 19.1 21.6025C17.95 21.6025 16.875 21.8025 15.875 22.2025C14.875 22.5775 14 23.1275 13.275 23.8275C12.525 24.5275 11.975 25.3525 11.55 26.3525C11.15 27.3025 10.925 28.3775 10.925 29.5525C10.925 30.9025 11.3 32.1025 12 33.1525C12.7 34.1775 13.65 35.0525 14.85 35.7775L13.475 37.5275C12.05 36.5775 10.95 35.4025 10.1 33.9525C9.3 32.5025 8.875 30.8525 8.875 29.0275C8.875 27.7025 9.125 26.4525 9.575 25.2525C10.075 24.0525 10.75 23.0025 11.625 22.1025C12.525 21.1775 13.6 20.4525 14.875 19.9275C16.125 19.3775 17.525 19.1025 19.1 19.1025ZM28.8 39.793L28.8 49.493C28.8 50.243 28.675 50.993 28.475 51.718C28.25 52.418 27.925 53.068 27.5 53.618C27.05 54.168 26.525 54.593 25.875 54.943C25.2 55.268 24.425 55.443 23.525 55.443C22.775 55.443 22.15 55.343 21.625 55.143C21.075 54.943 20.625 54.668 20.25 54.318C19.85 53.943 19.55 53.518 19.3 53.018C19.025 52.493 18.8 51.943 18.625 51.343L9.375 56.293L9.375 53.668L18.025 48.968L16.425 42.293L9.375 42.293L9.375 39.793L28.8 39.793ZM23.525 52.968C24.025 52.968 24.5 52.868 24.9 52.668C25.3 52.468 25.625 52.193 25.925 51.843C26.175 51.493 26.4 51.068 26.55 50.618C26.675 50.118 26.75 49.593 26.75 49.043L26.75 42.293L18.7 42.293L20.05 48.718C20.35 50.168 20.775 51.243 21.325 51.943C21.825 52.618 22.575 52.968 23.525 52.968ZM19.125 58.2871C20.675 58.2871 22.1 58.5371 23.375 59.0871C24.625 59.5871 25.7 60.3121 26.6 61.2121C27.45 62.1121 28.125 63.1371 28.625 64.3371C29.075 65.5121 29.325 66.7621 29.325 68.1121C29.325 69.4621 29.075 70.7371 28.625 71.9371C28.125 73.1121 27.45 74.1621 26.6 75.0621C25.7 75.9371 24.625 76.6371 23.375 77.1871C22.1 77.6871 20.675 77.9621 19.125 77.9621C17.525 77.9621 16.1 77.6871 14.85 77.1871C13.575 76.6371 12.5 75.9371 11.625 75.0621C10.75 74.1621 10.075 73.1121 9.575 71.9371C9.125 70.7371 8.875 69.4621 8.875 68.1121C8.875 66.7621 9.125 65.5121 9.575 64.3371C10.075 63.1371 10.75 62.1121 11.625 61.2121C12.5 60.3121 13.575 59.5871 14.85 59.0871C16.1 58.5371 17.525 58.2871 19.125 58.2871ZM19.125 60.7871C17.775 60.7871 16.6 60.9871 15.6 61.4121C14.575 61.8121 13.725 62.3371 13.025 63.0371C12.325 63.7121 11.8 64.4871 11.425 65.3871C11.075 66.2371 10.9 67.1621 10.9 68.1121C10.9 69.0621 11.075 69.9621 11.425 70.8621C11.8 71.7371 12.325 72.5371 13.025 73.2371C13.725 73.9121 14.575 74.4621 15.6 74.8871C16.6 75.2871 17.775 75.4871 19.125 75.4871C20.425 75.4871 21.575 75.2621 22.6 74.8371C23.6 74.3871 24.475 73.8371 25.175 73.1371C25.85 72.4371 26.375 71.6371 26.75 70.7621C27.1 69.8621 27.275 68.9871 27.275 68.1121C27.275 67.2121 27.1 66.3371 26.75 65.4871C26.375 64.5871 25.85 63.8121 25.175 63.1371C24.475 62.4371 23.6 61.8621 22.6 61.4371C21.575 60.9871 20.425 60.7871 19.125 60.7871ZM28.8 80.4668L28.8 82.9668L11.425 82.9668L11.425 93.9918L9.375 93.9918L9.375 80.4668L28.8 80.4668ZM28.8 96.4824L28.8 98.9824L11.425 98.9824L11.425 110.007L9.375 110.007L9.375 96.4824L28.8 96.4824ZM28.8 118.504L28.8 126.429C28.8 127.879 28.55 129.179 28.075 130.279C27.575 131.354 26.9 132.254 26.05 133.004C25.175 133.704 24.15 134.254 22.975 134.604C21.775 134.954 20.5 135.129 19.125 135.129C17.675 135.129 16.375 134.904 15.2 134.454C14 134.004 12.975 133.354 12.125 132.529C11.275 131.679 10.6 130.654 10.1 129.454C9.62499 128.229 9.37499 126.854 9.37499 125.354L9.37499 118.504L28.8 118.504ZM11.425 121.004L11.425 125.304C11.425 126.454 11.65 127.479 12.05 128.379C12.45 129.279 13 130.029 13.725 130.679C14.425 131.304 15.25 131.779 16.2 132.129C17.125 132.454 18.125 132.629 19.2 132.629C20.25 132.629 21.225 132.479 22.175 132.229C23.075 131.954 23.875 131.554 24.575 131.004C25.225 130.454 25.775 129.754 26.175 128.929C26.55 128.079 26.75 127.054 26.75 125.904L26.75 121.004L11.425 121.004ZM19.125 137.12C20.675 137.12 22.1 137.37 23.375 137.92C24.625 138.42 25.7 139.145 26.6 140.045C27.45 140.945 28.125 141.97 28.625 143.17C29.075 144.345 29.325 145.595 29.325 146.945C29.325 148.295 29.075 149.57 28.625 150.77C28.125 151.945 27.45 152.995 26.6 153.895C25.7 154.77 24.625 155.47 23.375 156.02C22.1 156.52 20.675 156.795 19.125 156.795C17.525 156.795 16.1 156.52 14.85 156.02C13.575 155.47 12.5 154.77 11.625 153.895C10.75 152.995 10.075 151.945 9.57499 150.77C9.12499 149.57 8.87499 148.295 8.87499 146.945C8.87499 145.595 9.12499 144.345 9.57499 143.17C10.075 141.97 10.75 140.945 11.625 140.045C12.5 139.145 13.575 138.42 14.85 137.92C16.1 137.37 17.525 137.12 19.125 137.12ZM19.125 139.62C17.775 139.62 16.6 139.82 15.6 140.245C14.575 140.645 13.725 141.17 13.025 141.87C12.325 142.545 11.8 143.32 11.425 144.22C11.075 145.07 10.9 145.995 10.9 146.945C10.9 147.895 11.075 148.795 11.425 149.695C11.8 150.57 12.325 151.37 13.025 152.07C13.725 152.745 14.575 153.295 15.6 153.72C16.6 154.12 17.775 154.32 19.125 154.32C20.425 154.32 21.575 154.095 22.6 153.67C23.6 153.22 24.475 152.67 25.175 151.97C25.85 151.27 26.375 150.47 26.75 149.595C27.1 148.695 27.275 147.82 27.275 146.945C27.275 146.045 27.1 145.17 26.75 144.32C26.375 143.42 25.85 142.645 25.175 141.97C24.475 141.27 23.6 140.695 22.6 140.27C21.575 139.82 20.425 139.62 19.125 139.62ZM24.9 170L9.37499 166.1L9.37499 163.65L28.8 158.275L28.8 160.7L13.3 164.875L28.8 168.75L28.8 171.275L13.3 175.125L28.8 179.325L28.8 181.75L9.37499 176.375L9.37499 173.925L24.9 170ZM28.8 184.104L28.8 186.604L13.05 197.779L28.8 197.779L28.8 200.279L9.37499 200.279L9.37499 197.779L25.25 186.604L9.37499 186.604L9.37499 184.104L28.8 184.104Z' fill='%23666666'/%3E%3Crect y='223' width='38' height='56' rx='19' fill='url(%23paint0_linear_75_38)'/%3E%3Cpath d='M18.9998 255.871L23.5498 251.35C23.7637 251.136 24.0311 251.024 24.3519 251.015C24.6727 251.005 24.9498 251.117 25.1831 251.35C25.397 251.564 25.504 251.836 25.504 252.167C25.504 252.497 25.397 252.77 25.1831 252.983L20.6623 257.504C20.2151 257.952 19.6609 258.175 18.9998 258.175C18.3387 258.175 17.7845 257.952 17.3373 257.504L12.8165 252.983C12.6026 252.77 12.4908 252.502 12.4811 252.181C12.4713 251.861 12.5831 251.583 12.8165 251.35C13.0304 251.136 13.3026 251.029 13.6331 251.029C13.9637 251.029 14.2359 251.136 14.4498 251.35L18.9998 255.871ZM18.9998 248.871L23.5498 244.35C23.7637 244.136 24.0311 244.024 24.3519 244.015C24.6727 244.005 24.9498 244.117 25.1831 244.35C25.397 244.564 25.504 244.836 25.504 245.167C25.504 245.497 25.397 245.77 25.1831 245.983L20.6623 250.504C20.2151 250.952 19.6609 251.175 18.9998 251.175C18.3387 251.175 17.7845 250.952 17.3373 250.504L12.8165 245.983C12.6026 245.77 12.4908 245.502 12.4811 245.181C12.4713 244.861 12.5831 244.583 12.8165 244.35C13.0304 244.136 13.3026 244.029 13.6331 244.029C13.9637 244.029 14.2359 244.136 14.4498 244.35L18.9998 248.871Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_75_38' x1='19' y1='223' x2='19' y2='279' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F58220'/%3E%3Cstop offset='1' stop-color='%23ED1C24'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 1.8rem;
}
.visual .scroll h2 {
    animation-name:animate_scroll;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear; 
}
@keyframes animate_scroll{
    0% {transform:translate(0, 0);}
    50% {transform:translate(0, 50px);}
    100% {transform:translate(0, 0);}
}
.visual .swiper {
    border-radius: 36px;
    width: 80vw;
    height: 70vh;
}
.visual .swiper .swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.visual	.visual_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: #FFF;
    border-radius: 0 36px 0 0;

}
.visual	.visual_btn::before,
.visual	.visual_btn::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath d='M2 0H0v38h38v-2C18.1 36 2 19.9 2 0z' fill='%23fff'/%3E%3C/svg%3E")
}
.visual	.visual_btn::before {
    left: -2px;
    top: -36px;
}
.visual	.visual_btn::after {
    right: -34px;
    bottom: -2px;
}
.visual	.visual_btn .ctrl_btn {
    display: flex;
    align-items: center;
    padding: 20px 2vw;
}
.visual	.visual_btn .ctrl_btn .auto {
    position: relative;
    margin: 0 20px
}
.visual	.visual_btn .ctrl_btn .auto > button::before {
    position: absolute;
    left: -16px;
    bottom: -12px;
    content: "";
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}
.visual	.visual_btn .ctrl_btn .auto .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.84375 16.2958V1.83434C0.84375 1.40465 0.990818 1.05213 1.28495 0.776786C1.57906 0.501441 1.92219 0.36377 2.31432 0.36377C2.43947 0.36377 2.56879 0.381506 2.70228 0.416975C2.83578 0.452443 2.96511 0.505632 3.09029 0.576543L14.473 7.82293C14.6962 7.97519 14.8635 8.1577 14.9752 8.37046C15.0867 8.58322 15.1425 8.81475 15.1425 9.06507C15.1425 9.31538 15.0867 9.54692 14.9752 9.75968C14.8635 9.97244 14.6962 10.1549 14.473 10.3072L3.09029 17.5536C2.96511 17.6245 2.83578 17.6777 2.70228 17.7132C2.56879 17.7486 2.43947 17.7664 2.31432 17.7664C1.92219 17.7664 1.57906 17.6287 1.28495 17.3533C0.990818 17.078 0.84375 16.7255 0.84375 16.2958Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.visual	.visual_btn .ctrl_btn .auto .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='20' viewBox='0 0 15 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.99995 20C0.895407 20 0 19.1046 0 18.0001V1.99995C0 0.895407 0.895407 0 1.99995 0C3.10449 0 3.9999 0.895407 3.9999 1.99995V18.0001C3.9999 19.1046 3.10449 20 1.99995 20ZM12.6667 20C11.5621 20 10.6667 19.1046 10.6667 18V1.99995C10.6667 0.895408 11.5621 0 12.6667 0C13.7712 0 14.6666 0.895408 14.6666 1.99995V18C14.6666 19.1046 13.7712 20 12.6667 20Z' fill='black'/%3E%3C/svg%3E%0A");
} 
.visual	.visual_btn .ctrl_btn button {
    width: 15px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 77% auto;
    z-index: 1;
}
.visual	.visual_btn .ctrl_btn .prev {
    margin-left: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' viewBox='0 0 15 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.32511 12.5L14.0695 21.2444C14.4806 21.6555 14.6861 22.1786 14.6861 22.8139C14.6861 23.4492 14.4806 23.9723 14.0695 24.3834C13.6584 24.7945 13.1353 25 12.5 25C11.8647 25 11.3416 24.7945 10.9305 24.3834L0.616592 14.0695C0.392377 13.8453 0.233558 13.6024 0.140135 13.3408C0.0467115 13.0792 0 12.799 0 12.5C0 12.201 0.0467115 11.9208 0.140135 11.6592C0.233558 11.3976 0.392377 11.1547 0.616592 10.9305L10.9305 0.616592C11.3416 0.205531 11.8647 0 12.5 0C13.1353 0 13.6584 0.205531 14.0695 0.616592C14.4806 1.02765 14.6861 1.55082 14.6861 2.1861C14.6861 2.82138 14.4806 3.34454 14.0695 3.75561L5.32511 12.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.visual	.visual_btn .ctrl_btn .next {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' viewBox='0 0 15 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0479 12.5L1.30354 3.7556C0.892481 3.34454 0.686951 2.82137 0.686951 2.1861C0.686951 1.55082 0.892481 1.02765 1.30354 0.616591C1.7146 0.20553 2.23777 -3.28758e-07 2.87305 -2.73221e-07C3.50833 -2.17683e-07 4.03149 0.20553 4.44256 0.616592L14.7565 10.9305C14.9807 11.1547 15.1395 11.3976 15.2329 11.6592C15.3263 11.9208 15.373 12.201 15.373 12.5C15.373 12.799 15.3263 13.0792 15.2329 13.3408C15.1395 13.6024 14.9807 13.8453 14.7565 14.0695L4.44255 24.3834C4.03149 24.7945 3.50832 25 2.87305 25C2.23777 25 1.7146 24.7945 1.30354 24.3834C0.892479 23.9723 0.686949 23.4492 0.686949 22.8139C0.686949 22.1786 0.89248 21.6555 1.30354 21.2444L10.0479 12.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.visual	.visual_btn .ctrl_btn .paging {
    width: 90px;
    height: 16px;
    text-align: center;
}
.visual	.visual_btn .ctrl_btn .paging span {
    font-size: 1rem;
}
.visual	.visual_btn .ctrl_btn .circle_wrap {
    position: absolute;
    left: -19px;
    bottom: -15px;
    width: 55px;
    height: 55px;
    z-index: -1;
}
.visual	.visual_btn .ctrl_btn .circle_wrap svg {
    width: 55px;
    height: 55px;
    stroke: #555;
    stroke-miterlimit:10; 
    stroke-dasharray: 1000;    
    stroke-dashoffset: 1000;
}
.visual	.visual_btn .ctrl_btn .circle_wrap[data-slide="slide0"] .circle1 {
    animation-name: dash;
    animation-duration: 6s;
    animation-timing-function:  linear;
    animation-iteration-count: 1;
}
.visual	.visual_btn .ctrl_btn .circle_wrap[data-slide="slide0"] .circle2 {
    display: none;
}
.visual	.visual_btn .ctrl_btn .circle_wrap[data-slide="slide1"] .circle2 {
    animation-name: dash;
    animation-duration: 6s;
    animation-timing-function:  linear;
    animation-iteration-count: 1;
}
.visual	.visual_btn .ctrl_btn .circle_wrap[data-slide="slide1"] .circle1 {
    display: none;
}
@keyframes dash {
    0% { stroke-dashoffset: 1000; }
    100% { stroke-dashoffset: 0; }
}

 @media screen and (max-width:1400px) {
    .visual .scroll h2 {
        position: absolute;
        left: 3vw;
        top: 0;
        background-size: 1.3rem;
    }
    .visual .swiper {
        width: 80%;
        height: 100%;
    }
    .visual .visual_btn .ctrl_btn .paging {
        width: 70px;
    }
    .visual .visual_btn::after {
        right: -36px;
        bottom: -2px;
    }
    .visual .visual_btn .ctrl_btn .prev {
        margin-left: 15px;
    }
}
@media screen and (max-width:1000px) {
    .visual {
        margin: 2vh;
    }
    .visual .swiper {
        width: 100%;
        height: 100%;
    }
    .visual .scroll {
        display: none;
    }
    .visual .visual_btn .ctrl_btn {
        padding: 17px 2vw;
    }
    .visual .visual_btn .ctrl_btn .paging {
        width: 45px;
        height: 1rem;
    }
    .visual .visual_btn .ctrl_btn button {
        background-size: 66% auto;
    }
    .visual .visual_btn .ctrl_btn .auto > button::before {
        left: -11px;
        bottom: -6px;
        width: 30px;
        height: 30px;
    }
    .visual .visual_btn .ctrl_btn .circle_wrap {
        left: -13px;
        bottom: -11px;
        width: 45px;
        height: 45px;
    }
    .visual .visual_btn .ctrl_btn .circle_wrap svg {
        width: 42px;
        height: 42px;
    }
    .visual .visual_btn::after {
        right: -34px;
        bottom: -2px;
    }
    .visual .visual_btn .ctrl_btn .prev {
        margin-left: 0;
    }
}
@media screen and (max-width:640px) {
    .visual .visual_btn {
        border-radius: 0 25px 0 0;
    }
    .visual .visual_btn::before, 
    .visual .visual_btn::after {
        width: 30px;
        height: 30px;
    }
    .visual .visual_btn::before {
        left: -2px;
        top: -28px;
    }
    .visual .visual_btn::after {
        right: -27px;
        bottom: -2px;
    }
    .visual .visual_btn .ctrl_btn .next {
        margin-right: 5px;
    }
    .visual .visual_btn .ctrl_btn button {
        background-size: 54% auto;
    }
    .visual .visual_btn .ctrl_btn {
        padding: 13px 2vw 6px 2vw;
    }
    .visual .visual_btn .ctrl_btn .auto {
        margin: 0 15px;
    }
    .visual .visual_btn .ctrl_btn .auto > button::before {
        left: -9px;
        bottom: -5px;
        width: 25px;
        height: 25px;
    }
    .visual .visual_btn .ctrl_btn .circle_wrap svg {
        width: 37px;
        height: 37px;
    }
    .visual .visual_btn .ctrl_btn .circle_wrap {
        left: -11px;
        bottom: -10px;
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:450px) {
    .visual .swiper {
        border-radius: 20px;
    }
    .visual .visual_btn {
        border-radius: 0 20px 0 0;
    }
    .visual .visual_btn::before, 
    .visual .visual_btn::after {
        width: 20px;
        height: 20px;
    }
    .visual .visual_btn::before {
        left: -1px;
        top: -19px;
    }
    .visual .visual_btn::after {
        right: -17px;
        bottom: -1px;
    }
    .visual .visual_btn .ctrl_btn {
        padding: 5px 2vw 3px 2vw;
    }
    .visual .visual_btn .ctrl_btn .paging span {
        font-size: 11px;
    }
    .visual .visual_btn .ctrl_btn .next {
        margin-right: 0px;
    }
    .visual .visual_btn .ctrl_btn .auto {
        margin: 0 10px;
    }
    .visual .visual_btn .ctrl_btn .auto > button::before {
        left: -3.3px;
        bottom: 1.5px;
        width: 15px;
        height: 15px;
        border: 3px solid rgba(0, 0, 0, 0.3);
    }
    .visual .visual_btn .ctrl_btn .circle_wrap {
        left: -5px;
        bottom: -1.9px;
        width: 25px;
        height: 25px;
    }
    .visual .visual_btn .ctrl_btn .circle_wrap svg {
        width: 23px;
        height: 23px;
    }
    .visual .visual_btn .ctrl_btn button {
        background-size: 40% auto;
    }
    .visual .visual_btn .ctrl_btn .paging {
        width: 33px;
        height: 1rem;
    }
}

.event{
    width: 100%;
    height: 430px; 
    margin: 130px 0 140px 0;
}
.event .wrapper {
    position: relative;
}
.event h2 {
    font-size: 40px;
    font-weight: 700
}
.event .more {
    margin: 22px 0 35px 0;
}
.event .more a {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.event .more a:hover {
    color: #F7A158;
}
.event .more a::before {
    position: absolute;
    right: -33px;
    top: -2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='13' fill='%23F7A158'/%3E%3Cpath d='M7 15C6.45 15 5.97917 14.8042 5.5875 14.4125C5.19583 14.0208 5 13.55 5 13C5 12.45 5.19583 11.9792 5.5875 11.5875C5.97917 11.1958 6.45 11 7 11C7.55 11 8.02083 11.1958 8.4125 11.5875C8.80417 11.9792 9 12.45 9 13C9 13.55 8.80417 14.0208 8.4125 14.4125C8.02083 14.8042 7.55 15 7 15ZM13 15C12.45 15 11.9792 14.8042 11.5875 14.4125C11.1958 14.0208 11 13.55 11 13C11 12.45 11.1958 11.9792 11.5875 11.5875C11.9792 11.1958 12.45 11 13 11C13.55 11 14.0208 11.1958 14.4125 11.5875C14.8042 11.9792 15 12.45 15 13C15 13.55 14.8042 14.0208 14.4125 14.4125C14.0208 14.8042 13.55 15 13 15ZM19 15C18.45 15 17.9792 14.8042 17.5875 14.4125C17.1958 14.0208 17 13.55 17 13C17 12.45 17.1958 11.9792 17.5875 11.5875C17.9792 11.1958 18.45 11 19 11C19.55 11 20.0208 11.1958 20.4125 11.5875C20.8042 11.9792 21 12.45 21 13C21 13.55 20.8042 14.0208 20.4125 14.4125C20.0208 14.8042 19.55 15 19 15Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 26px;
    height: 26px;
    content: "";
}
.event .depth3 > li > button {
    position: relative;
    display: block;
    font-size: 20px;
    width: 299px;
    height: 55px;
    background-color: #FFF;
    border-radius: 0;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.event .depth3 > li.active > button {
    background-color: #F7A158;
    color: #FFF;
    border-radius: 0 30px 30px 30px;
}
.event .depth3 > li .swiper {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 327px);
    display: none;
}
.event .depth3 > li.active .swiper {
    display: block;
}
.event .depth3 > li .swiper ul {
    display: flex;
    justify-content: space-between;
}
.event .depth3 > li .swiper ul li {
    text-align: center;
}
.event .depth3 > li .swiper ul li a {
    display: block;
}
.event .depth3 > li .swiper ul li a .imginner {
    display: block;
    height: 270px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #999;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.event .depth3 > li .swiper ul li a:hover .imginner {
    border: 5px solid #F7A158;
}
.event .depth3 > li .swiper ul li a .imginner img {
    width: 100%;
    height: 100%;
    transform: scale3d(1, 1, 1);
    object-fit: contain;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.event .depth3 > li .swiper ul li a:hover .imginner img {
    transform: scale3d(1.17, 1.17, 1);
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.event .depth3 > li .swiper ul li a .one,
.event .depth3 > li .swiper ul li a .two,
.event .depth3 > li .swiper ul li a .dis {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #F7A158;
    color: #FFF;
    padding: 6px 15px 2px 15px;
    border-radius: 20px;
}
.event .depth3 > li .swiper ul li a .new {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #f3cd0d;
    color: #FFF;
    padding: 5px 15px 3px 15px;
    border-radius: 20px;
}
.event .depth3 > li .swiper ul li a strong {
    display: block;
    margin: 24px 0 10px 0;
    font-weight: 500;
    word-break: normal;
    height: 37px;
}
.event .depth3 > li .swiper ul li a .won {
    display: block;
    color: #F7A158;
    font-weight: 500;
}
.event .depth3 > li .pagination {
    position: absolute;
    bottom: -50%;
    left: 58%;
    display: none;
    z-index: 90;
}
.event .depth3 > li.active .pagination {
    display: block;
}
.event .swiper-pagination-bullet-active {
    background: #444;
}
@media screen and (max-width:1400px) {
    .event {
        margin: 130px 0 60px 0;
    }
    .event h2 {
        font-size: 30px;
    }
    .event .more {
        margin: 13px 0 23px 0;
    }
    .event .more a {
        font-size: 17px;
    }
    .event .more a::before {
        right: -30px;
        top: -4px;
        background-size: 21px auto;
    }
    .event .depth3 > li > button {
        font-size: 18px;
        width: 227px;
        height: 47px;
    }
    .event .depth3 > li .swiper {
        width: calc(100% - 250px);
    }
    .event .depth3 > li .swiper ul li a .imginner {
        height: 220px;
    }
    .event .depth3 > li .pagination {
        bottom: -55%;
        left: 57%;

    }
}
@media screen and (max-width:1000px) {
    .event {
        margin: 130px 0 30px 0;
        height: 370px;
    }
    .event h2 {
        font-size: 23px;
    }
    .event .more {
        margin: 10px 0 17px 0;
    }
    .event .more a {
        font-size: 15px;
    }
    .event .more a::before {
        right: -27px;
        top: -5px;
        background-size: 17px;
    }
    .event .depth3 > li > button {
        font-size: 17px;
        width: 177px;
        height: 37px;
    }
    .event .depth3 > li .swiper {
        width: calc(100% - 193px);
    }
    .event .depth3 > li .swiper ul li a .imginner {
        height: 173px;
        border-radius: 13px;
    }
    .event .depth3 > li .swiper ul li a .one, 
    .event .depth3 > li .swiper ul li a .two, 
    .event .depth3 > li .swiper ul li a .dis {
        right: 7px;
        top: 6px;
        padding: 4px 11px 0px 11px;
    }
    .event .depth3 > li .swiper ul li a strong {
        margin: 17px 0 7px 0;
    }
    .event .depth3 > li .swiper ul li a .new {
        left: 7px;
        top: 6px;
        padding: 3px 11px 1px 11px;
    }
    .event .depth3 > li .pagination {
        bottom: -68%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
}
@media screen and (max-width:640px) {
    .event {
        height: 400px;
        margin: 70px 0px 70px;
    }
    .event h2 {
        font-size: 20px;
    }
    .event .more {
        margin: 10px 0 17px 0;
        position: absolute;
        right: 28px;
        top: -4px;
    }
    .event ul.depth3 {
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
    }
    .event .depth3 > li {
        width: 31%;
    }
    .event .depth3 > li > button {
        font-size: 17px;
        width: 100%;
        height: 37px;
        border: 1px solid #EAEAEA;
        border-radius: 20px;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }
    .event .depth3 > li.active > button {
        border: 0px;
    }
    .event .depth3 > li .swiper {
        width: 100%;
        margin-top: 113px;
    }
    .event .depth3 > li .swiper ul li a strong {
        margin: 13px 0 3px 0;
        height: 37px;
    }
    .event .depth3 > li .swiper ul li a .imginner {
        height: 173px;
        border-radius: 7px;
    }
    .event .depth3 > li .swiper ul li a .new {
        left: 3px;
        top: 3px;
        padding: 1px 7px 1px 7px;
        font-size: 11px;
    }
    .event .depth3 > li .swiper ul li a .one, 
    .event .depth3 > li .swiper ul li a .two, 
    .event .depth3 > li .swiper ul li a .dis {
        right: 3px;
        top: 3px;
        padding: 2px 7px 0px 7px;
        font-size: 11px;
    }
    .event .depth3 > li .pagination {
        bottom: -373%;
    }
}
@media screen and (max-width:450px) {
    .event h2 {
        font-size: 18px;
    }
    .event .more a {
        font-size: 13px;
    }
    .event {
        height: 400px;
        margin: 70px 0px 35px 0px;
    }
    .event .depth3 > li .pagination {
        bottom: -400%;
    }
    .event .more a::before {
        right: -25px;
        top: -7px;
        background-size: 13px;
    }
    .event .depth3 > li > button {
        font-size: 15px;
        height: 33px;
    }
    .event ul.depth3 {
        margin-top: 20px;
    }
    .event .depth3 > li .swiper {
        margin-top: 104px;
    }
}

.app .app_inner {
    background-color: #5C43E6;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.app .app_inner .app_img img{
    position: absolute;
    display: block;
}
.app .app_inner .app_img .app_icon {
    left: 10%;
    top: 0;
    width: 275px;
    margin-top: 70px;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.app .app_inner .app_img:hover .app_icon {
    transform: rotate(15deg);
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.app .app_inner .app_img .paper {
    left: 5%;
    top: 0;
    width: 370px;
    margin-top: 10px;
}
.app .app_inner .app_img .paper { 
    animation-name:animate_paper; 
    animation-duration:7s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear 
}
@keyframes animate_paper {
    0% { transform:translate(0, 0)  }
    50% { transform:translate(3px, 7px)  }
    100% { transform:translate(0, 0)  }
}
.app .app_inner .app_txt {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    padding-top: 10px;
    text-align: center;
}
.app .app_inner .app_txt h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.app .app_inner .app_txt strong {
    font-size: 20px;
    margin: 15px 0 30px 0;
}
.app .app_inner .app_txt a {
    display: block;
}
.app .app_inner .app_txt a span {
    position: relative;
    color: #5C43E6;
    font-weight: 500;
    font-size: 25px;
    background-color: #FFF;
    padding: 10px 90px 5px 67px;
    border-radius: 30px;
}
.app .app_inner a span::after {
    position: absolute;
    right: 55px;
    bottom: 13px;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 14.4688C9.83333 14.4688 9.67708 14.4427 9.53125 14.3906C9.38542 14.3385 9.25 14.25 9.125 14.125L4.625 9.625C4.375 9.375 4.25521 9.08333 4.26562 8.75C4.27604 8.41667 4.39583 8.125 4.625 7.875C4.875 7.625 5.17188 7.49479 5.51562 7.48438C5.85938 7.47396 6.15625 7.59375 6.40625 7.84375L8.75 10.1875V1.25C8.75 0.895833 8.86979 0.598958 9.10938 0.359375C9.34896 0.119792 9.64583 0 10 0C10.3542 0 10.651 0.119792 10.8906 0.359375C11.1302 0.598958 11.25 0.895833 11.25 1.25V10.1875L13.5938 7.84375C13.8438 7.59375 14.1406 7.47396 14.4844 7.48438C14.8281 7.49479 15.125 7.625 15.375 7.875C15.6042 8.125 15.724 8.41667 15.7344 8.75C15.7448 9.08333 15.625 9.375 15.375 9.625L10.875 14.125C10.75 14.25 10.6146 14.3385 10.4688 14.3906C10.3229 14.4427 10.1667 14.4688 10 14.4688ZM2.5 20C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5V15C0 14.6458 0.119792 14.349 0.359375 14.1094C0.598958 13.8698 0.895833 13.75 1.25 13.75C1.60417 13.75 1.90104 13.8698 2.14062 14.1094C2.38021 14.349 2.5 14.6458 2.5 15V17.5H17.5V15C17.5 14.6458 17.6198 14.349 17.8594 14.1094C18.099 13.8698 18.3958 13.75 18.75 13.75C19.1042 13.75 19.401 13.8698 19.6406 14.1094C19.8802 14.349 20 14.6458 20 15V17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20H2.5Z' fill='%235C43E6'/%3E%3C/svg%3E%0A");
}
.app .app_inner a span:hover {
    color: #4e36d6;
    box-shadow: 0 3px 10px rgba(13, 3, 99, 0.6);
} 
@media screen and (max-width:1400px) {
    .app .app_inner {
        height: 360px;
    }
    .app .app_inner .app_img .app_icon {
        width: 250px;
    }
    .app .app_inner .app_img .paper {
        width: 332px;
    }
    .app .app_inner .app_txt h2 {
        font-size: 30px;
    }
    .app .app_inner .app_txt strong {
        font-size: 18px;
        margin: 15px 0 30px 0;
    }
    .app .app_inner .app_txt a span {
        font-size: 22px;
        padding: 10px 90px 5px 67px;
    }
}
@media screen and (max-width:1000px) {
    .app .app_inner .app_img .app_icon {
        width: 180px;
        margin-top: 53px;
    }
    .app .app_inner .app_img .paper {
        width: 223px;
        left: 4%;
        top: -3px;
    }
    .app .app_inner .app_txt h2 {
        font-size: 23px;
    }
    .app .app_inner {
        height: 260px;
    }
    .app .app_inner .app_txt strong {
        font-size: 15px;
        margin: 10px 0 20px 0;
    }
    .app .app_inner .app_txt a span {
        font-size: 18px;
        padding: 7px 70px 3px 50px;
    }
    .app .app_inner a span::after {
        right: 39px;
        bottom: 5px;
        background-size: 15px auto;
    }
}
@media screen and (max-width:640px) {
    .app .app_inner {
        height: 200px;
    }
    .app .app_inner .app_txt h2 {
        font-size: 19px;
        font-weight: 500;
    }
    .app .app_inner .app_txt strong {
        font-size: 13px;
        margin: 9px 0 18px 0;
    }
    .app .app_inner .app_img .paper {
        width: 158px;
        left: 3%;
        top: 7px;
    }
    .app .app_inner .app_img .app_icon {
        width: 113px;
        margin-top: 56px;
    }
    .app .app_inner .app_txt a span {
        font-size: 15px;
        padding: 7px 57px 3px 33px;
    }
    .app .app_inner a span::after {
        right: 33px;
        bottom: 4px;
        background-size: 14px auto;
    }
}
@media screen and (max-width:450px) {
    .app .app_inner {
        height: 120px;
    }
    .app .app_inner .app_img .paper {
        width: 95px;
        top: 0;
    }
    .app .app_inner .app_img .app_icon {
        width: 70px;
        margin-top: 30px;
        left: 9%;
    }
    .app .app_inner .app_txt a span {
        font-size: 13px;
        padding: 5px 27px 2px 15px;
    }
    .app .app_inner a span::after {
        right: 8px;
        bottom: 0px;
        background-size: 10px auto;
    }
    .app .app_inner .app_txt h2 {
        font-size: 13px;
    }
    .app .app_inner .app_txt strong {
        font-size: 11px;
        margin: 5px 0 15px 0;
    }
    .app .app_inner .app_txt {
        margin-left: 30%;
    }
}

.discount {
    margin: 130px 0 160px 0;
    position: relative;
}
.discount h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.discount .more {
    text-align: right;
}
.discount .more a {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-right: 33px;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.discount .more a:hover {
    color: #00903B;
}
.discount .more a::before {
    position: absolute;
    right: -33px;
    top: -2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='13' fill='%2300903B'/%3E%3Cpath d='M7 15C6.45 15 5.97917 14.8042 5.5875 14.4125C5.19583 14.0208 5 13.55 5 13C5 12.45 5.19583 11.9792 5.5875 11.5875C5.97917 11.1958 6.45 11 7 11C7.55 11 8.02083 11.1958 8.4125 11.5875C8.80417 11.9792 9 12.45 9 13C9 13.55 8.80417 14.0208 8.4125 14.4125C8.02083 14.8042 7.55 15 7 15ZM13 15C12.45 15 11.9792 14.8042 11.5875 14.4125C11.1958 14.0208 11 13.55 11 13C11 12.45 11.1958 11.9792 11.5875 11.5875C11.9792 11.1958 12.45 11 13 11C13.55 11 14.0208 11.1958 14.4125 11.5875C14.8042 11.9792 15 12.45 15 13C15 13.55 14.8042 14.0208 14.4125 14.4125C14.0208 14.8042 13.55 15 13 15ZM19 15C18.45 15 17.9792 14.8042 17.5875 14.4125C17.1958 14.0208 17 13.55 17 13C17 12.45 17.1958 11.9792 17.5875 11.5875C17.9792 11.1958 18.45 11 19 11C19.55 11 20.0208 11.1958 20.4125 11.5875C20.8042 11.9792 21 12.45 21 13C21 13.55 20.8042 14.0208 20.4125 14.4125C20.0208 14.8042 19.55 15 19 15Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 26px;
    height: 26px;
    content: "";
}
.discount .swiper {
    margin-top: 30px;
}
.discount .swiper ul li a {
    display: block;
    height: 305px;
    border: 3px solid #ECECEC;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.discount .swiper ul li a::before {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ECECEC;
    border-radius: 20px 0 20px 0;
    width: 50%;
    height: 47px;
    content: "";
    z-index: -1;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
@media screen and (min-width:767px) {
    .discount .swiper ul li a:hover {
        border: 5px solid #00903B;
    }
    .discount .swiper ul li a:hover:before {
        background-color: #00903B;
    }
}

.discount .swiper ul li a img {
    width: 100%;
    height: 190px;
    margin-top: 13px;
    transform: scale3d(1, 1, 1);
    object-fit: contain;
}
.discount .swiper ul li a strong {
    display: block;
    height: 43px;
    font-weight: 500;
    word-break: normal;
}
.discount .swiper ul li a .amount {
    display: flex;
    justify-content: space-around;
    line-height: 50px;
}
.discount .swiper ul li a .amount span {
    font-weight: 500;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.discount .swiper ul li a:hover .amount span {
    color: #FFF;
}
.discount .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, 
.discount .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    position: absolute;
    bottom: -40px;
    content: "";
}
.discount .swiper-pagination-bullet-active {
    background: #555;
}
@media screen and (max-width:1400px) {
    .discount h2 {
        font-size: 30px;
    }
    .discount .more a {
        display: inline-block;
        font-size: 17px;
        font-weight: 500;
        margin-right: 20px;
    }
    .discount .more a::before {
        right: -31px;
        top: -2px;
        background-size: 21px auto;
    }
}
@media screen and (max-width:1000px) {
    .discount {
        margin: 90px 20px 130px 20px;
    }
    .discount h2 {
        font-size: 23px;
    }
    .discount .more a {
        font-size: 15px;
    }
    .discount .more a::before {
        right: -27px;
        top: -5px;
        background-size: 17px auto;
    }
    .discount .swiper ul li a img {
        height: 150px;
    }
    .discount .swiper ul li a {
        height: 262px;
        border: 2px solid #ECECEC;
    }
}
@media screen and (max-width:640px) {
    .discount h2 {
        font-size: 20px;
    }
    .discount .swiper ul li a strong {
        height: 30px;
    }
    .discount .swiper ul li a {
        height: 248px;
    }
    .discount .swiper ul li a::before {
        height: 40px;
    }
    .discount .swiper ul li a .amount {
        line-height: 53px;
    }
}
@media screen and (max-width:450px) {
    .discount .swiper ul li a::before {
        display: none;
    }
    .discount h2 {
        font-size: 18px;
        text-align: left;
    }
    .discount .swiper {
        margin-top: 20px;
    }
    .discount .more a {
        font-size: 13px;
    }
    .discount .more a::before {
        right: -25px;
        top: -7px;
        background-size: 13px auto;
    }
    .discount .more {
        position: absolute;
        right: 0;
        top: 3px;
    }
    .discount {
        margin: 65px 20px 100px 20px;
    }
    .discount .swiper ul li a {
        height: 230px;
    }
    .discount .swiper ul li a img {
        height: 127px;
    }
    .discount .swiper ul li a strong {
        font-weight: 300;
        height: 37px;
    }
    .discount .swiper ul li a .amount {
        display: flex;
        justify-content: center;
        line-height: 17px;
        flex-direction: column;
        align-items: center;
    }
    .discount .swiper ul li a .amount del {
        font-size: 11px;
        color: #777;
    }

}

.search_box {
    margin: 140px 0px;
    padding: 100px 0 0 0;
    background: linear-gradient(180deg, #dbeff8, white, white);
}
.search_box .search_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.search_box .search_inner h2 {
    font-size: 40px;
    font-weight: 700;
}
.search_box .search_inner h2 em {
    display: inline-block;
    width: 225px;
    height: 31px;
    background: url(../images/search01.png) center bottom no-repeat;
    vertical-align: sub;
    margin: 0 10px;
}
.search_box .search_inner h2 em i {
    overflow: hidden;
    display: inline-block;
    border: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}
.search_box .search_inner p {
    font-size: 20px;
    color: #555;
    margin-top: 3px;
}
.search_box .search_inner .search_wrap {
    display: flex;
    flex-direction: column;
}
.search_box .search_inner .search_wrap .search_group .search {
    max-width: 770px;
    width: 60vw;
    height: 70px;
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 120px 0 15px 0;
}
.search_box .search_inner .search_wrap .search_group .search::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background-color: #444;
    content: "";
    border-radius: 4px;
}
.search_box .search_inner .search_wrap .search_group .search label {
    display: none;
}
.search_box .search_inner .search_wrap .search_group .search input[type="text"] {
    font-size: 23px;
    font-weight: 700;
    color: #1d1d1d;
    width: calc(100% - 100px);
    border: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search_box .search_inner .search_wrap .search_group .search input[type="text"]::placeholder {
    font-weight: 400;
    color: #AAA;
}
.search_box .search_inner .search_wrap .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.75 40C19.2083 40 15.3646 38.4271 12.2188 35.2813C9.07292 32.1354 7.5 28.2917 7.5 23.75C7.5 19.2083 9.07292 15.3646 12.2188 12.2188C15.3646 9.07292 19.2083 7.5 23.75 7.5C28.2917 7.5 32.1354 9.07292 35.2813 12.2188C38.4271 15.3646 40 19.2083 40 23.75C40 25.5833 39.7083 27.3125 39.125 28.9375C38.5417 30.5625 37.75 32 36.75 33.25L48.75 45.25C49.2083 45.7083 49.4375 46.2917 49.4375 47C49.4375 47.7083 49.2083 48.2917 48.75 48.75C48.2917 49.2083 47.7083 49.4375 47 49.4375C46.2917 49.4375 45.7083 49.2083 45.25 48.75L33.25 36.75C32 37.75 30.5625 38.5417 28.9375 39.125C27.3125 39.7083 25.5833 40 23.75 40ZM23.75 35C26.875 35 29.5313 33.9063 31.7188 31.7188C33.9063 29.5313 35 26.875 35 23.75C35 20.625 33.9063 17.9688 31.7188 15.7813C29.5313 13.5938 26.875 12.5 23.75 12.5C20.625 12.5 17.9688 13.5938 15.7813 15.7813C13.5938 17.9688 12.5 20.625 12.5 23.75C12.5 26.875 13.5938 29.5313 15.7813 31.7188C17.9688 33.9063 20.625 35 23.75 35Z' fill='%23444444'/%3E%3C/svg%3E%0A");    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 35px;
}
.search_box .search_inner .search_wrap .search_tag ul {
    display: flex;
    justify-content: space-around;
}
.search_box .search_inner .search_wrap .search_tag ul li {
    background-color: #F4F4F4;
    border-radius: 15px 0 15px 15px;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.search_box .search_inner .search_wrap .search_tag ul li:hover {
    background-color: #00903B;
    color: #FFF;
}
.search_box .search_inner .search_wrap .search_tag ul li a {
    display: block;
    font-size: 17px;
    padding: 10px 27px 5px 27px;
}
.search_box .search_inner .search_img {
    width: 30%;
}
.search_box .search_inner .search_img img {
    width: 100%;
    object-fit:cover
}
@media screen and (max-width:1400px) {
    .search_box .search_inner h2 {
        font-size: 30px;
    }
    .search_box .search_inner h2 em {
        width: 178px;
        height: 26px;
        background-size: contain;
        vertical-align: middle;
        margin: 0 8px;
    }
    .search_box .search_inner p {
        font-size: 17px;
    }
    .search_box .search_inner .search_wrap .search_group .search input[type="text"] {
        font-size: 19px;
    }
    .search_box .search_inner .search_wrap .search_group .search input[type="submit"] {
        width: 45px;
        height: 45px;
    }
    .search_box .search_inner .search_wrap .search_tag ul li a {
        font-size: 15px;
        padding: 10px 23px 5px 23px;
    }
    .search_box .search_inner .search_wrap .search_group .search::after {
        height: 6px;
    }
    .search_box .search_inner .search_wrap .search_group .search {
        margin: 100px 0 15px 0;
    }
}
@media screen and (max-width:1000px) {
    .search_box .search_inner h2 {
        font-size: 23px;
    }
    .search_box .search_inner h2 em {
        width: 150px;
        height: 20px;
        margin: 0 6px;
    }
    .search_box .search_inner .search_wrap .search_tag ul li:last-child {
        display: none;
    }
    .search_box .search_inner .search_wrap .search_tag ul li a {
        font-size: 1rem;
        padding: 10px 2.4vw 5px 2.4vw;
    }
    .search_box .search_inner .search_wrap .search_group .search {
        margin: 10vw 0 1vw 0;
        padding: 0 0 0 10px;
        height: 50px;
    }
    .search_box .search_inner .search_wrap .search_group .search::after {
        height: 5px;
    }
    .search_box .search_inner .search_wrap .search_group .search input[type="submit"] {
        width: 37px;
        height: 37px;
        margin-left: 20px;
    }
    .search_box .search_inner .search_wrap .search_group .search input[type="text"] {
        font-size: 16px;
        width: 100%;
    }
    .search_box .search_inner p {
        font-size: 15px;
    }
}
@media screen and (max-width:640px) {
    .search_box {
        margin: 130px 0px;
        padding: 50px 0 0 0;
    }
    .search_box .search_inner h2 {
        font-size: 20px;
    }
    .search_box .search_inner .search_img {
        display: none;
    }
    .search_box .search_inner h2 em {
        width: 132px;
        height: 16px;
        margin: 0;
    }
    .search_box .search_inner p {
        font-size: 13px;
    }
    .search_box .search_inner .search_wrap .search_group .search {
        margin: 10vw 0 1.5vw 0;
        padding: 0 0 0 10px;
        height: 50px;
        width: calc(100vw - 40px);
    }
    .search_box .search_inner .search_wrap .search_group .search input[type="text"] {
        font-size: 15px;
        width: 100%;
    }
    .search_box .search_inner .search_wrap .search_tag ul li a {
        padding: 7px 4vw 3px 4vw;
    }
}
@media screen and (max-width:450px) {
    .search_box {
        margin: 90px 0px;
        padding: 45px 0px 0px;
        background: linear-gradient(rgb(251 251 251), white, white);
    }
    .search_box .search_inner h2 {
        font-size: 18px;
    }
    .search_box .search_inner h2 em {
        width: 110px;
        height: 14px;
    }
    .search_box .search_inner .search_wrap .search_tag ul li:nth-child(5) {
        display: none;
    }
    .search_box .search_inner .search_wrap .search_tag ul li a {
        padding: 7px 3vw 3px 3vw;
    }
    .search_box .search_inner .search_wrap .search_group .search {
        padding: 0 0 0 3px;
        height: 43px;
    }
}

.banner {
    margin: 170px 0;
}
.banner h2 {
    display: none;
    font-size: 0;
    line-height: 0;
}
.banner .bannerinner {
    width: 100%;
    position: relative;
}
.banner .bannerinner a {
    display: block;
}
.banner .bannerinner a img {
    width: 100%;
}
@media screen and (max-width:1400px) {
    .banner {
        margin: 130px 0 70px 0;
    }
}
@media screen and (max-width:1000px) {
    .banner {
        margin: 130px 0 100px 0;
    }
}
@media screen and (max-width:640px) {
    .banner {
        margin: 90px 0 80px 0;
    }
}

.startups {
    margin: 200px 0;
}
.startups h2 {
    font-size: 40px;
    font-weight: 700;
}
.startups p {
    font-size: 23px;
    margin: 16px 0 68px 0;
}
.startups .start_icon ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.startups .start_icon ul li {
    background-color: #F7F7F7;
    border-radius: 20px;
    width: calc(25% - 10px);
    height: 292px;
    text-align: center;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.startups .start_icon ul li:nth-child(1):hover {
    background-color: #ebfff3;
}
.startups .start_icon ul li:nth-child(2):hover {
    background-color: #ebf4ff;
}
.startups .start_icon ul li:nth-child(3):hover {
    background-color: #fff5f5;
}
.startups .start_icon ul li:nth-child(4):hover {
    background-color: #fffced;
}
.startups .start_icon ul li a {
 display: block;
 position: relative;
 transition-duration: 300ms;
 transition-timing-function: ease-in-out;
}
.startups .start_icon ul li a::before {
    position: absolute;
    right: 13px;
    bottom: 13px;
    width: 49px;
    height: 49px;
    border-radius: 100%;
    content: "";
    z-index: 1;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.startups .start_icon ul li:nth-child(1) a::before {
    background-color: #5FE197;
}
.startups .start_icon ul li:nth-child(2) a::before {
    background-color: #128CDE;
}
.startups .start_icon ul li:nth-child(3) a::before {
    background-color: #F17A66;
}
.startups .start_icon ul li:nth-child(4) a::before {
    background-color: #EEB100;
}
.startups .start_icon ul li a:hover:before {
    opacity: 0.8;
}
.startups .start_icon ul li a::after {
    position: absolute;
    right: 13px;
    bottom: 12px;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='19' viewBox='0 0 27 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7487 11.2077H1.70771C1.22386 11.2077 0.818278 11.0441 0.490967 10.7167C0.163656 10.3894 0 9.98385 0 9.5C0 9.01615 0.163656 8.61057 0.490967 8.28326C0.818278 7.95594 1.22386 7.79229 1.70771 7.79229H20.7487L15.8817 2.92531C15.5402 2.58377 15.3765 2.1853 15.3907 1.72991C15.405 1.27452 15.5686 0.876056 15.8817 0.534514C16.2233 0.192971 16.6288 0.0150848 17.0985 0.000853856C17.5681 -0.0133771 17.9737 0.150279 18.3152 0.491821L26.128 8.3046C26.2988 8.47537 26.4197 8.66038 26.4909 8.85961C26.562 9.05884 26.5976 9.27231 26.5976 9.5C26.5976 9.7277 26.562 9.94116 26.4909 10.1404C26.4197 10.3396 26.2988 10.5246 26.128 10.6954L18.3152 18.5082C17.9737 18.8497 17.5681 19.0134 17.0985 18.9991C16.6288 18.9849 16.2233 18.807 15.8817 18.4655C15.5686 18.1239 15.405 17.7255 15.3907 17.2701C15.3765 16.8147 15.5402 16.4162 15.8817 16.0747L20.7487 11.2077Z' fill='white'/%3E%3C/svg%3E%0A");
    z-index: 2;
    content: "";
}
.startups .start_icon ul li a img {
    width: 200px;
    height: auto;
    padding: 30px 20px 20px 20px;
    transform: scale3d(1, 1, 1);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.startups .start_icon ul li a:hover img {
    transform: scale3d(1.1, 1.1, 1);
}
.startups .start_icon ul li a .txt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.startups .start_icon ul li a .txt span {
    display: block;
    font-size: 23px;
    font-weight: 500;
    margin-left: 3vw;
    line-height: 76px;
}
.startups .start_icon ul li a .txt i {
    font-size: 0;
    line-height: 0;
    background-color: #FFF;
    border-radius: 20px 0 20px 0;
    width: 75px;
    height: 75px;
    position: relative;
}
.startups .start_icon ul li a .txt i::before,
.startups .start_icon ul li a .txt i::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath d='M2 0H0v38h38v-2C18.1 36 2 19.9 2 0z' fill='%23fff'/%3E%3C/svg%3E");
    transform: rotate(-90deg);
}
.startups .start_icon ul li a .txt i::before {
    right: -2px;
    top: -36px;
}
.startups .start_icon ul li a .txt i::after  {
    left: -37px;
    bottom: -2px;
}
@media screen and (max-width:1400px) {
    .startups {
        margin: 130px 0px;
    }
    .startups h2 {
        font-size: 30px;
    }
    .startups p {
        font-size: 18px;
        margin: 13px 0 40px 0;
    }
    .startups .start_icon ul li {
        height: 248px;
    }
    .startups .start_icon ul li a::before {
        right: 9px;
        bottom: 25px;
        width: 43px;
        height: 43px;
    }
    .startups .start_icon ul li a img {
        width: 170px;
    }
    .startups .start_icon ul li a .txt span {
        font-size: 20px;
    }
    .startups .start_icon ul li a .txt i {
        width: 60px;
        height: 60px;
    }
    .startups .start_icon ul li a::after {
        background-size: 20px auto;
        right: 7px;
        bottom: 19px;
    }
    .startups .start_icon ul li a .txt i::after {
        left: -34px;
        bottom: -4px;
        background-size: 90% auto;
    }
    .startups .start_icon ul li a .txt i::before {
        right: -4px;
        top: -35px;
        background-size: 90% auto;
    }
}
@media screen and (max-width:1000px) {
    .startups h2 {
        font-size: 23px;
    }
    .startups p {
        font-size: 16px;
        margin: 8px 0 33px 0;
    }
    .startups .start_icon ul li {
        height: 170px;
        border-radius: 13px;
    }
    .startups .start_icon ul li a img {
        width: 120px;
    }
    .startups .start_icon ul li a .txt span {
        font-size: 15px;
        margin-left: 10px;
        line-height: 33px;
    }
    .startups .start_icon ul li a::after {
        background-size: 12px auto;
        right: -9px;
        bottom: -9px;
    }
    .startups .start_icon ul li a::before {
        right: 3px;
        bottom: 4px;
        width: 25px;
        height: 25px;
    }
    .startups .start_icon ul li a .txt i {
        width: 33px;
        height: 33px;
        border-radius: 13px 0 10px 0;
    }
    .startups .start_icon ul li a .txt i::before {
        right: -7px;
        top: -30px;
        background-size: 65% auto;
    }
    .startups .start_icon ul li a .txt i::after {
        left: -30px;
        bottom: -8px;
        background-size: 65% auto;
    }
    .startups {
        margin: 104px 0 80px 0;
    }
}
@media screen and (max-width:640px) {
    .startups {
        margin: 80px 0px;
    }
    .startups h2 {
        font-size: 20px;
    }
    .startups p {
        font-size: 15px;
        margin: 3px 0 25px 0;
    }
    .startups .start_icon ul li {
        border-radius: 20px;
        width: calc(50% - 10px);
        height: 190px;
        margin: 10px 0;
    }
    .startups .start_icon ul li a img {
        width: 140px;
        padding: 25px 20px 20px 20px
    }
    .startups .start_icon ul li a .txt i::before {
        right: -7px;
        top: -31px;
        background-size: 70% auto;
    }
    .startups .start_icon ul li a .txt i::after {
        left: -31px;
        bottom: -7px;
        background-size: 70% auto;
    }
    .startups .start_icon ul li a .txt span {
        font-size: 15px;
        margin-left: 20px;
        line-height: 27px;
    }
    .startups .start_icon ul li a .txt i {
        width: 45px;
        height: 45px;
        border-radius: 15px 0 10px 0;
    }
    .startups .start_icon ul li a::before {
        right: 8px;
        bottom: 10px;
        width: 30px;
        height: 30px;
    }
    .startups .start_icon ul li a::after {
        background-size: 15px auto;
        right: -2px;
        bottom: 0;
    }
    .startups .start_icon ul li a .txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width:450px) {
    .startups h2 {
        font-size: 18px;
    }
    .startups p {
        font-size: 13px;
        margin: 1px 0 15px 0;
    }
    .startups .start_icon ul li a img {
        width: 117px;
        padding: 15px 11px 11px 11px;
    }
    .startups .start_icon ul li {
        border-radius: 20px;
        width: calc(50% - 7px);
        height: 164px;
        margin: 7px 0;
    }
    .startups .start_icon ul li a .txt i {
        width: 37px;
        height: 37px;
        border-radius: 15px 0 10px 0;
    }
    .startups .start_icon ul li a::before {
        right: 5px;
        bottom: 5px;
        width: 27px;
        height: 27px;
    }
    .startups .start_icon ul li a::after {
        background-size: 15px auto;
        right: -6px;
        bottom: -5px;
    }
    .startups .start_icon ul li a .txt span {
        font-size: 14px;
        margin-left: 11px;
        line-height: 20px;
    }
}
